[package]
name = "repology-updater"
version = "0.1.0"
edition = "2024"
rust-version = "1.92"

[lints]
workspace = true

[features]
strict-parsers = []

[dependencies]
anyhow = "1.0.100"
bitflags = "2.10.0"
clap = { version = "4.5.48", features = ["derive"] }
regex = "1.12.2"
repology-common = { path = "../repology-common" }
serde = { version = "1.0.226", features = ["derive"] }
serde_json = "1.0.145"
strum = { version = "0.27.2", features = ["derive"] }
toml = { version = "0.9.8", default-features = false, features = ["std", "serde", "parse"] }
walkdir = "2.5.0"

[dev-dependencies]
insta = "1.43.2"
paste = "1.0.15"
tempfile = "3.23.0"
