[package]
name = "repology-updater"
version = "0.1.0"
edition = "2024"
rust-version = "1.93"

[lints]
workspace = true

[features]
strict-parsers = []

[dependencies]
anyhow = "1.0.100"
async-trait = "0.1.89"
bitflags = "2.10.0"
clap = { version = "4.5.48", features = ["derive"] }
faine = { version = "0.2.1", default-features = false }
futures-util = { version = "0.3.31", default-features = false }
regex = "1.12.2"
repology-common = { path = "../repology-common" }
reqwest = { version = "0.12.24", default-features = false, features = ["http2", "rustls-tls", "rustls-tls-native-roots", "stream"] }
serde = { version = "1.0.226", features = ["derive"] }
serde-saphyr = "0.0.6"
serde_json = "1.0.145"
strum = { version = "0.27.2", features = ["derive"] }
thiserror = "2.0.16"
toml = { version = "0.9.8", default-features = false, features = ["std", "serde", "parse"] }
walkdir = "2.5.0"

[dev-dependencies]
insta = "1.43.2"
paste = "1.0.15"
tempfile = "3.23.0"
