{% extends "_base.html" %}
{% import "_macros/projects_table.html" as projects_table %}

{% block title %}Projects list - Repology{% endblock %}
{% block header %}Projects{% endblock %}

{% macro pagination() %}
{#- NOTE: this woule be come much simpler if we switch to single endpoint with start/end params #}
<nav>
	<ul class="pagination">
		{% let first_item = projects_list.first() %}
		<li{% if first_item.is_none() %} class="disabled"{% endif %}>
		{% if let Some(first_item) = first_item %}
			<a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectsBounded, query.to_params(Some(("..".to_string() + first_item.project.effname.as_str()).as_str())).as_slice() )? }}" rel="prev">&laquo;</a>
		{% else %}
			<span>&laquo;</span>
		{% endif %}
		</li>
		<li{% if first_item.is_some() && "0123456789".contains(first_item.unwrap().project.effname.chars().nth(0).unwrap_or(' ')) %} class="active"{% endif %}><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, query.to_params(None).as_slice())? }}">0-9</a></li>
		{% for letter in "abcdefghijklmnopqrstuvwxyz".chars() %}
		<li{% if first_item.is_some() && first_item.unwrap().project.effname.starts_with(ctx.deref(letter)) %} class="active"{% endif %}>
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectsBounded, query.to_params(Some(letter.to_string()|as_ref)).as_slice())? }}">
					{{- letter.to_ascii_uppercase() -}}
				</a>
		</li>
		{% endfor %}

		{% let last_item = projects_list.last() %}
		<li{% if last_item.is_none() %} class="disabled"{% endif %}>
		{% if let Some(last_item) = last_item %}
			<a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectsBounded, query.to_params(Some(last_item.project.effname.as_str())).as_slice())? }}" rel="next">&raquo;</a>
		{% else %}
			<span>&raquo;</span>
		{% endif %}
		</li>
	</ul>
</nav>
{% endmacro %}

{% block content %}
<div class="container">

<nav>
	<form class="form-horizontal" action="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [])? }}" method="GET">
		<div class="form-group" id="advanced-search-toggle-root">
			<label for="search" class="col-sm-2 control-label">Name search</label>
			<div class="col-sm-6">
				<div class="input-group">
					<input type="text" class="form-control" id="search" name="search" value="{{ query.search }}" placeholder="e.g. &quot;firefox&quot;">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default">Go</button>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<label for="advanced-search-toggle" class="btn btn-default">Advanced...</label>
			</div>
		</div>
		<input type="checkbox" class="hidden" id="advanced-search-toggle"{% if query.is_advanced() %} checked="checked"{% endif %}>
		<div class="advanced-search">
			<div class="form-group">
				<label for="maintainer" class="col-sm-2 control-label">Maintainer</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="maintainer" name="maintainer" value="{{ query.maintainer }}" placeholder="e.g. &quot;foo@bar.com&quot;">
				</div>
			</div>
			<div class="form-group">
				<label for="category" class="col-sm-2 control-label">Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="category" name="category" value="{{ query.category }}" placeholder="e.g. &quot;games&quot;">
				</div>
			</div>
			<div class="form-group">
				<label for="inrepo" class="col-sm-2 control-label">In repo</label>
				<div class="col-sm-8">
					<select class="form-control" id="inrepo" name="inrepo">
						<option value="">-</option>
					{% for repository_data in repositories_data %}
						<option value="{{ repository_data.name }}"{% if repository_data.name == query.inrepo %} selected{% endif %}>{{ repository_data.title }}</option>
					{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="notinrepo" class="col-sm-2 control-label">Not in repo</label>
				<div class="col-sm-8">
					<select class="form-control" id="notinrepo" name="notinrepo">
						<option value="">-</option>
					{% for repository_data in repositories_data %}
						<option value="{{ repository_data.name }}"{% if repository_data.name == query.notinrepo %} selected{% endif %}>{{ repository_data.title }}</option>
					{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="repos" class="col-sm-2 control-label">Repositories</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="repos" name="repos" value="{{ query.repos }}" placeholder="e.g. 1 (unique) or 2- (non-unique) or 3-5">
				</div>
			</div>
			<div class="form-group">
				<label for="spread" class="col-sm-2 control-label">Families (spread)</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="families" name="families" value="{{ query.families }}" placeholder="e.g. 1 or 2- or 3-5">
				</div>
			</div>
			<div class="form-group">
				<label for="repos" class="col-sm-2 control-label">Repositories newest</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="repos_newest" name="repos_newest" value="{{ query.repos_newest }}" placeholder="e.g. 1 or 2- or 3-5">
				</div>
			</div>
			<div class="form-group">
				<label for="spread" class="col-sm-2 control-label">Families newest</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="families_newest" name="families_newest" value="{{ query.families_newest }}" placeholder="e.g. 1 or 2- or 3-5">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="newest"{% if query.newest %} checked="checked"{% endif %}> Newest
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="outdated"{% if query.outdated %} checked="checked"{% endif %}> Outdated
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="problematic"{% if query.problematic %} checked="checked"{% endif %}> Problematic
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="vulnerable"{% if query.vulnerable %} checked="checked"{% endif %}> Potentially vulnerable
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="has_related"{% if query.has_related %} checked="checked"{% endif %}> Has related
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Search</button>
					<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [])? }}" class="btn btn-default">Clear</a>
				</div>
			</div>
		</div>
	</form>
</nav>

{% call pagination() %}

{% call projects_table::projects_table_with_focus(projects_list, repo=query.inrepo|as_ref, maintainer=query.maintainer|as_ref, target_project_endpoint=crate::endpoints::Endpoint::ProjectVersions) %}

{% call pagination() %}

{% include "_includes/versionclass/legend.html" %}

</div>
{% endblock %}
