[package]
name = "repology-webapp-test-utils"
version = "0.1.0"
edition = "2021"

[dependencies]
tower-service = "0.3.3"
sxd-document = "0.3.2"
sxd-xpath = "0.4.2"
json = "0.12.4"
pretty_assertions = "1.4.0"
axum = "0.7.5"
anyhow = "1.0.88"
sqlx = { version = "0.8.2", features = ["runtime-tokio", "postgres", "chrono"] }
repology-webapp = { path = "../repology-webapp" }
mime = "0.3.17"
