{% extends "../_base.html" %}
{% import "_macros/cpes.html" as cpes %}
{% import "_macros/links.html" as links %}

{% block title %}Problems{% if let Some(maintainer_name) = maintainer_name %} for {{ maintainer_name }}{% endif %} in {{ repository_data.title }} - Repology{% endblock %}
{% block header %}Problems{% if let Some(maintainer_name) = maintainer_name %} for <strong>{{ maintainer_name }}</strong>{% endif %} in <strong>{{ repository_data.title }}</strong>{% endblock %}

{% block content %}
<div class="container">

{% if let Some(pagination) = pagination %}
<nav>
	<div class="form-group">
		<form class="form-inline" action="{{ ctx.url_for_self([("start", ""), ("end", "")])? }}" method="GET">
			<div class="btn-group">
				<a href="{{ ctx.url_for_self([("start", ""), ("end", "")])? }}" class="btn btn-default {% if pagination.is_first_page() %} disabled{% endif %}">&laquo;&laquo;</a>
				{% if let Some(page_range) = pagination.page_range %}
				<a href="{{ ctx.url_for_self([("start", ""), ("end", page_range.first|as_ref)])? }}" class="btn btn-default{% if pagination.is_first_page() %} disabled{% endif %}" rel="prev">&laquo;</a>
				<a href="{{ ctx.url_for_self([("start", page_range.last|as_ref), ("end", "")])? }}" class="btn btn-default{% if pagination.is_last_page() %} disabled{% endif %}" rel="next">&raquo;</a>
				{% endif %}
				<a href="{{ ctx.url_for_self([("start", ""), ("end", pagination.whole_range.last)])? }}" class="btn btn-default {% if pagination.is_last_page() %} disabled{% endif %}">&raquo;&raquo;</a>
			</div>
		</form>
	</div>
</nav>
{% endif %}

{% if !problems.is_empty() %}
<p><b>{{ problems.len() }}</b> problem(s) on this page</p>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-center">Project</th>
			<th class="text-center">Package name</th>
			{%- if maintainer_name.is_none() %}
			<th class="text-center">Maintainer</th>
			{%- endif %}
			<th class="text-left">Problem</th>
		</tr>
	</thead>
	<tbody>
	{% for problem in problems %}
		<tr>
			<td class="text-center"><a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectVersions, [("project_name", problem.effname|as_ref)])? }}">{{ problem.effname }}</a></td>
			<td class="text-center">
				{%- if let Some(url) = problem.url %}
				<a href="{{ url }}">{{ problem.visiblename }}</a>
				{%- else -%}
				{{ problem.visiblename }}
				{%- endif -%}
			</td>
			{%- if maintainer_name.is_none() -%}
			<td class="text-center">
			{%- if let Some(problem_maintainer_name) = problem.maintainer -%}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainer, [("maintainer_name", problem_maintainer_name)])? }}">{{ problem_maintainer_name }}</a>
			{%- else -%}
				-
			{%- endif -%}
			</td>
			{%- endif -%}
			<td class="text-left">
			{% if problem.kind == "homepage_dead" %}
				{%- let url = problem.data.get("url").ok_or("url is missing")?.as_str().ok_or("url is not a string")? %}
				{%- let code = problem.data.get("code").ok_or("code is missing")?.as_i64().ok_or("code is not an integer")? %}
				Homepage link <code>{{ url }}</code> is <a href="{{ ctx.url_for(crate::endpoints::Endpoint::Link, [("url", url|as_ref)])? }}">dead</a> (<b class="link-error">{% call links::format_link_status_code(code) %}</b>)
				for more than a month and should be replaced by alive link (see other packages for hints, or link to <a href="https://archive.org/">archive.org</a> as a last resort).
			{% else if problem.kind == "homepage_permanent_https_redirect" %}
				{%- let url = problem.data.get("url").ok_or("url is missing")?.as_str().ok_or("url is not a string")? %}
				{%- let target = problem.data.get("target").ok_or("target is missing")?.as_str().ok_or("target is not a string")? %}
				Homepage link <code>{{ url }}</code> is a permanent redirect to its HTTPS counterpart <code>{{ target }}</code> and should be updated.
			{% else if problem.kind == "homepage_discontinued_google" %}
				{%- let url = problem.data.get("url").ok_or("url is missing")?.as_str().ok_or("url is not a string")? %}
				Homepage link <code>{{ url }}</code> points to Google Code which was discontinued.
				The link should be updated (probably along with download URLs).
				If this link is still alive, it may point to a new project homepage.
			{% else if problem.kind == "homepage_discontinued_codeplex" %}
				{%- let url = problem.data.get("url").ok_or("url is missing")?.as_str().ok_or("url is not a string")? %}
				Homepage link <code>{{ url }}</code> points to codeplex which was discontinued.
				The link should be updated (probably along with download URLs).
			{% else if problem.kind == "homepage_discontinued_gna" %}
				{%- let url = problem.data.get("url").ok_or("url is missing")?.as_str().ok_or("url is not a string")? %}
				Homepage link <code>{{ url }}</code> points to Gna which was discontinued.
				The link should be updated (probably along with download URLs).
			{% else if problem.kind == "homepage_discontinued_cpan" %}
				{%- let url = problem.data.get("url").ok_or("url is missing")?.as_str().ok_or("url is not a string")? %}
				Homepage link <code>{{ url }}</code> points to CPAN which was discontinued.
				The link should be updated to <a href="https://metacpan.org/">MetaCPAN</a> (probably along with download URLs).
				See <a href="https://www.perl.com/article/saying-goodbye-to-search-cpan-org/">https://www.perl.com/article/saying-goodbye-to-search-cpan-org/</a> for details.
			{% else if problem.kind == "cpe_unreferenced" %}
				{%- let cpe = problem.data.get("cpe").ok_or("cpe is not an object")? %}
				CPE information defined for the package:<div>{% call cpes::cpe_components(cpe, true) %}</div>was not found neither among known CVEs nor in NVD CPE dictionary, so it may be invalid.
				{% if let Some(suggestions) = problem.data.get("suggestions") %}
				Suggested CPEs (as per known <a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectCves, [("project_name", problem.effname|as_ref)])? }}">CVEs</a>):
				<ul class="list-unstyled">
				{% for suggestion in suggestions.as_array().ok_or("suggestions is not an array")? %}
					<li>{% call cpes::cpe_components(suggestion, true) %}</li>
				{% endfor %}
				</ul>
				{% endif %}
			{% else if problem.kind == "cpe_missing" %}
				CPE information is missing for this package, while repository defines it for other packages.
				{% if let Some(suggestions) = problem.data.get("suggestions") %}
				Suggested CPEs (as per known <a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectCves, [("project_name", problem.effname|as_ref)])? }}">CVEs</a>):
				<ul class="list-unstyled">
				{% for suggestion in suggestions.as_array().ok_or("suggestions is not an array")? %}
					<li>{% call cpes::cpe_components(suggestion, true) %}</li>
				{% endfor %}
				</ul>
				{% endif %}
			{% else if problem.kind == "download_dead" %}
				{%- let url = problem.data.get("url").ok_or("url is missing")?.as_str().ok_or("url is not a string")? %}
				{%- let code = problem.data.get("code").ok_or("code is missing")?.as_i64().ok_or("code is not an integer")? %}
				Download link <code>{{ url }}</code> is <a href="{{ ctx.url_for(crate::endpoints::Endpoint::Link, [("url", url|as_ref)])? }}">dead</a> (<b class="link-error">{% call links::format_link_status_code(code) %}</b>)
				for more than a month and should be replaced by alive link (see other packages for hints).
			{% else if problem.kind == "download_permanent_https_redirect" %}
				{%- let url = problem.data.get("url").ok_or("url is missing")?.as_str().ok_or("url is not a string")? %}
				{%- let target = problem.data.get("target").ok_or("target is missing")?.as_str().ok_or("target is not a string")? %}
				Download link <code>{{ url }}</code> is a permanent redirect to its HTTPS counterpart <code>{{ target }}</code> and should be updated.
			{% else if problem.kind == "homepage_sourceforge_missing_trailing_slash" %}
				{%- let url = problem.data.get("url").ok_or("url is missing")?.as_str().ok_or("url is not a string")? %}
				Homepage link <code>{{ url }}</code> needs a trailing slash added, otherwise there's a javascript redirect.
			{% else %}
				Unformatted problem of type <code>{{ problem.kind }}</code>, data=<code>{{ problem.data }}</code>. The template should be updated, please report this.
			{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-success" role="alert">No problems found matching the criteria</div>
{% endif %}

</div>
{% endblock %}
