{% extends "../_base.html" %}

{% block preheader %}
<div class="btn-group pageheader-right">
	<a href="{{ crate::routes::Route::RepositoriesStatistics.url_for().build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::RepositoriesStatistics %} active{% endif %}">Statistics</a>
	<a href="{{ crate::routes::Route::RepositoriesPackages.url_for().build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::RepositoriesPackages %} active{% endif %}">Packages</a>
	<a href="{{ crate::routes::Route::RepositoriesGraphs.url_for().build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::RepositoriesGraphs %} active{% endif %}">Graphs</a>
	<a href="{{ crate::routes::Route::RepositoriesUpdates.url_for().build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::RepositoriesUpdates %} active{% endif %}">Updates</a>
	<a href="{{ crate::routes::Route::RepositoriesFields.url_for().build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::RepositoriesFields %} active{% endif %}">Fields</a>
</div>
{% endblock %}
