{% extends "repositories/_base.html" %}
{% import "_macros/autorefresh.html" as autorefresh %}

{% block extrameta %}
	{% call autorefresh::enable_autorefresh(3600) %}
{% endblock %}

{% block title %}Repository support details - Repology{% endblock %}
{% block header %}Repository support details{% endblock %}

{% block content %}
<div class="container">

<p>A table of supported data fields for each repository. The more data is provided the better. Note that links information is crucial for distinguishing unrelated projects with similar names, so it's now mandatory.</p>

{% call autorefresh::autorefresh_toggler() %}

<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
	{% for repository in repositories %}
	{% set headerevery = 20 %}
	{% if loop.first || (headerevery != 0 && loop.index0 % headerevery == 0) %}
		<tr>
			<th class="text-right">Repository</th>
			<th class="text-center">Summary</th>
			<th class="text-center">Maintainer</th>
			<th class="text-center">Categories</th>
			<th class="text-center">License</th>
			<th class="text-center">Links</th>
			<th class="text-center">Sources</th>
			<th class="text-center">Patches</th>
			<th class="text-center">Build logs</th>
			<th class="text-center">Names</th>
			<th class="text-center">CPE</th>
		</tr>
	{% if loop.first %}</thead><tbody>{% endif %}
	{% endif %}
		<tr id="{{ repository.name }}">
			<th class="text-right">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository.name.as_str())])? }}">{{ repository.title }}</a>
			</th>

			<td class="text-center">{% if repository.fields.contains("comment") %}✔{% endif %}</td>
			<td class="text-center">{% if repository.fields.contains("maintainers") %}✔{% endif %}</td>
			<td class="text-center">{% if repository.fields.contains("category") %}✔{% endif %}</td>
			<td class="text-center">{% if repository.fields.contains("licenses") %}✔{% endif %}</td>
			<td class="text-center">
				{%- if repository.link_types.contains(0|ref) || repository.link_types.contains(1|ref) %}✔
				{%- else %}<span class="text-danger" title="Repository must provide link to upstream">✘</span>{% endif -%}
			</td>
			<td class="text-center">
				{%- if repository.link_types.contains(7|ref) || repository.link_types.contains(9|ref) || repository.link_types.contains(10|ref) %}✔
				{%- else if repository.source_type != "repository" %}-
				{%- else %}<span class="text-danger" title="Repository must provide link to package sources">✘</span>{% endif -%}
			</td>
			<td class="text-center">{% if repository.link_types.contains(11|ref) || repository.link_types.contains(12|ref) %}✔{% endif %}</td>
			<td class="text-center">{% if repository.link_types.contains(13|ref) || repository.link_types.contains(14|ref) || repository.link_types.contains(27|ref) %}✔{% endif %}</td>
			<td class="text-center">
				{%- if repository.fields.contains("srcname") %}<abbr title="source (package) name">s</abbr>{% endif -%}
				{%- if repository.fields.contains("binname") %}<abbr title="binary (package) name">b</abbr>{% endif -%}
				{%- if repository.fields.contains("binnames") %}<abbr title="binary (package) names taken from source packages">B</abbr>{% endif -%}
			</td>
			<td class="text-center">{% if repository.fields.contains("cpe_product") || repository.fields.contains("cpe_vendor") %}✔{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>
{% endblock %}
