{% extends "repositories/_base.html" %}
{% import "_macros/autorefresh.html" as autorefresh %}

{% block extrameta %}
	{{ autorefresh::enable_autorefresh(3600) }}
{% endblock %}

{% block title %}Graphs - Repology{% endblock %}
{% block header %}Graphs{% endblock %}

{% block content %}
<div class="container">

{{ autorefresh::autorefresh_toggler() }}

<h3 id="freshness_map">Repository size/freshness map</h3>
<img src="{{ crate::endpoints::Endpoint::GraphMapRepoSizeFresh.url_for().build()? }}" alt="Repository size/freshness map">

<p>Zoomed in onto main cluster of repositories:</p>
<img src="{{ crate::endpoints::Endpoint::GraphMapRepoSizeFresh.url_for().query_param("xlimit", 40000).query_param("ylimit", 20000).build()? }}" alt="Repository size/freshness map (zoom in)">

<p>Zoomed in onto smaller repositories:</p>
<img src="{{ crate::endpoints::Endpoint::GraphMapRepoSizeFresh.url_for().query_param("xlimit", 8000).query_param("ylimit", 4000).build()? }}" alt="Repository size/freshness map (zoom in)">

<h3 id="projects_graph">Projects</h3>
<img src="{{ crate::endpoints::Endpoint::GraphTotalProjects.url_for().build()? }}" alt="Projects know to Repology versus time">

<h3 id="maintainers_graph">Maintainers</h3>
<img src="{{ crate::endpoints::Endpoint::GraphTotalMaintainers.url_for().build()? }}" alt="Maintainers known to Repology versus time">

</div>
{% endblock %}
