{% extends "repositories/_base.html" %}
{% import "_macros/autorefresh.html" as autorefresh %}

{% block extrameta %}
	{% call autorefresh::enable_autorefresh(3600) %}
{% endblock %}

{% block title %}Raw repository package counts - Repology{% endblock %}
{% block header %}Raw repository package counts{% endblock %}

{% block content %}
<div class="container">

<div class="clearfix">
	<p>Total individual packages known to repology: <b>{{ total_packages }}</b>.</p>

	{% call autorefresh::autorefresh_toggler() %}
</div>

{% include "_includes/versionclass/legend.html" %}

<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-right" rowspan="2">Repository</th>
			<th class="text-center" colspan="12">Packages</th>
		</tr>
		<tr>
			<th class="text-center">Total</th>
			<th class="text-center"><abbr title="Newest">New.</abbr></th>
			<th class="text-center"><abbr title="Devel">Dev.</abbr></th>
			<th class="text-center"><abbr title="Unique">Unq.</abbr></th>
			<th class="text-center"><abbr title="Outdated">Out.</abbr></th>
			<th class="text-center"><abbr title="Legacy">Leg.</abbr></th>

			<th class="text-center"><abbr title="Rolling">Rol.</abbr></th>
			<th class="text-center"><abbr title="No upstream version scheme">Nov.</abbr></th>
			<th class="text-center"><abbr title="Incorrect">Inc.</abbr></th>
			<th class="text-center"><abbr title="Untrusted">Unt.</abbr></th>
			<th class="text-center"><abbr title="Ignored">Ign.</abbr></th>

			<th class="text-center"><abbr title="Potentially vulnerable">Vul.</abbr></th>
		</tr>
	</thead>
	<tbody>
	{% for repository in repositories %}
		<tr id="{{ repository.name }}">
			<th class="text-right">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository.name.as_str())])? }}">{{ repository.title }}</a>
			</th>

			<td class="text-center">{{ repository.num_packages }}</td>

			<td class="text-center version-cell version-big version-newest">{{ repository.num_packages_newest }}</td>
			<td class="text-center version-cell version-big version-devel">{{ repository.num_packages_devel }}</td>
			<td class="text-center version-cell version-big version-unique">{{ repository.num_packages_unique }}</td>
			<td class="text-center version-cell version-big version-outdated">{{ repository.num_packages_outdated }}</td>
			<td class="text-center version-cell version-big version-legacy">{{ repository.num_packages_legacy }}</td>

			<td class="text-center version-cell version-big version-rolling">{{ repository.num_packages_rolling }}</td>
			<td class="text-center version-cell version-big version-noscheme">{{ repository.num_packages_noscheme }}</td>
			<td class="text-center version-cell version-big version-incorrect">{{ repository.num_packages_incorrect }}</td>
			<td class="text-center version-cell version-big version-untrusted">{{ repository.num_packages_untrusted }}</td>
			<td class="text-center version-cell version-big version-ignored">{{ repository.num_packages_ignored }}</td>

			<td class="text-center vulnerable-cell">{{ repository.num_packages_vulnerable }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>
{% endblock %}
