{% extends "repositories/_base.html" %}
{% import "_macros/autorefresh.html" as autorefresh %}

{% block extrameta %}
	{% call autorefresh::enable_autorefresh(3600) %}
{% endblock %}

{% block title %}Repository statistics - Repology{% endblock %}
{% block header %}Repository statistics{% endblock %}

{% block content %}
<div class="container">

<div class="clearfix">
	<div class="dropdown pull-right">
		<button class="btn btn-default dropdown-toggle" type="button" id="statisticsSortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Sort by
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="statisticsSortMenu">
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatistics, [])? }}"{% if sorting == "name" %} class="active"{% endif %}>Name</a></li>
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatisticsSorted, [("sorting", "newest")])? }}"{% if sorting == "newest" %} class="active"{% endif %}>Projects up to date</a></li>
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatisticsSorted, [("sorting", "pnewest")])? }}"{% if sorting == "pnewest" %} class="active"{% endif %}>Percent projects up to date</a></li>
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatisticsSorted, [("sorting", "outdated")])? }}"{% if sorting == "outdated" %} class="active"{% endif %}>Projects outdated</a></li>
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatisticsSorted, [("sorting", "poutdated")])? }}"{% if sorting == "poutdated" %} class="active"{% endif %}>Percent projects outdated</a></li>
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatisticsSorted, [("sorting", "total")])? }}"{% if sorting == "total" %} class="active"{% endif %}>Total projects</a></li>
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatisticsSorted, [("sorting", "nonunique")])? }}"{% if sorting == "nonunique" %} class="active"{% endif %}>Non-unique projects</a></li>
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatisticsSorted, [("sorting", "vulnerable")])? }}"{% if sorting == "vulnerable" %} class="active"{% endif %}>Potentially vulnerable projects</a></li>
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatisticsSorted, [("sorting", "pvulnerable")])? }}"{% if sorting == "pvulnerable" %} class="active"{% endif %}>Percent potentially vulnerable projects</a></li>
		</ul>
	</div>

	<p>Total projects known to repology: <b>{{ total_projects }}</b>, total individual packages: <b>{{ total_packages }}</b>.</p>

	<p>Note that sum of columns does not need to match total count, as there may be packages with different status for a single project in a repository. Percentages are also calculated differently.</p>

	{% call autorefresh::autorefresh_toggler() %}
</div>

<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-right" rowspan="2">Repository</th>
			<th class="text-center" colspan="12">Projects</th>
			<th class="text-center" rowspan="2">Maintainers</th>
			<th class="text-center" rowspan="2">Problems</th>
		</tr>
		<tr>
			<th class="text-center" title="Total number of projects packaged in this repository">Total</th>
			<th class="text-center" title="Number of non-unique projects packaged in this repository">N/u</th>
			<th class="text-center" colspan="2">Newest</th>
			<th class="text-center" colspan="2">Outdated</th>
			<th class="text-center" colspan="2">Unique</th>
			<th class="text-center" colspan="2">Problematic</th>
			<th class="text-center" colspan="2">Potentially vulnerable</th>
		</tr>
	</thead>
	<tbody>
	{% for repository in repositories %}
		<tr id="{{ repository.name }}">
			<th class="text-right">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository.name.as_str())])? }}">{{ repository.title }}</a>
			</th>

			<td class="text-center total-cell">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("inrepo", repository.name.as_str())])? }}">
					{{- crate::template_funcs::format_number_short(repository.num_projects) -}}
				</a>
			</td>

			<td class="text-center total-cell">
			    {% let non_unique = repository.num_projects - repository.num_projects_unique %}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("inrepo", repository.name.as_str()), ("families", "2-")])? }}">
					{{- crate::template_funcs::format_number_short(non_unique) -}}
				</a>
			</td>

			<td class="text-center version-cell version-big version-newest">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("inrepo", repository.name.as_str()), ("newest", "1")])? }}">
					{{- crate::template_funcs::format_number_short(repository.num_projects_newest) -}}
				</a>
			</td>
			<td class="text-center version-cell version-big version-newest">
				{{- ctx.format_percent(repository.num_projects_newest, repository.num_projects_comparable) -}}
			</td>

			<td class="text-center version-cell version-big version-outdated">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("inrepo", repository.name.as_str()), ("outdated", "1")])? }}">
					{{- crate::template_funcs::format_number_short(repository.num_projects_outdated) -}}
				</a>
			</td>
			<td class="text-center version-cell version-big version-outdated">
				{{- ctx.format_percent(repository.num_projects_outdated, repository.num_projects_comparable) -}}
			</td>

			<td class="text-center version-cell version-big version-unique">
			{% if repository.is_shadow %}
				<span title="This is a shadow repo, e.g. unique packages in it are ignored">n/a</span>
			{% else %}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("inrepo", repository.name.as_str()), ("families", "1")])? }}">
					{{- crate::template_funcs::format_number_short(repository.num_projects_unique) -}}
				</a>
			{% endif %}
			</td>
			<td class="text-center version-cell version-big version-unique">
			{% if repository.is_shadow %}
				<span title="This is a shadow repo, e.g. unique packages in it are ignored">n/a</span>
			{%- else -%}
				{{ ctx.format_percent(repository.num_projects_unique, repository.num_projects) }}
			{%- endif -%}
			</td>

			<td class="text-center version-cell version-big version-ignored">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("inrepo", repository.name.as_str()), ("problematic", "1")])? }}">
					{{- crate::template_funcs::format_number_short(repository.num_projects_problematic) -}}
				</a>
			</td>
			<td class="text-center version-cell version-big version-ignored">
				{{- ctx.format_percent(repository.num_projects_problematic, repository.num_projects) -}}
			</td>

			<td class="text-center{% if repository.num_projects_vulnerable > 0 %} vulnerable-cell{% endif %}">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("inrepo", repository.name.as_str()), ("vulnerable", "1")])? }}">
					{{- crate::template_funcs::format_number_short(repository.num_projects_vulnerable) -}}
				</a>
			</td>
			<td class="text-center{% if repository.num_projects_vulnerable > 0 %} vulnerable-cell{% endif %}">
				{{- ctx.format_percent_longer(repository.num_projects_vulnerable, repository.num_projects) -}}
			</td>

			<td class="text-center">
				{%- if repository.num_maintainers > 0 -%}
				{{- crate::template_funcs::format_number_short(repository.num_maintainers) -}}
			{%- else -%}
				?
			{%- endif -%}
			</td>

			<td class="text-center">
			{%- if repository.num_problems > 0 -%}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoryProblems, [("repository_name", repository.name.as_str())])? }}">
					{{- crate::template_funcs::format_number_short(repository.num_problems) -}}
				</a>
			{%- else -%}
				0
			{%- endif -%}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>
{% endblock %}
