{% extends "../_base.html" %}
{% import "_macros/projects_table.html" as projects_table %}
{% import "_macros/time.html" as time %}

{% block title %}Gone project {{ project_name }} - Repology{% endblock %}
{% block header %}Gone project <strong>{{ project_name }}</strong>{% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-warning" role="alert">
	<p>Sorry, but Repology no longer knows project <strong>{{ project_name }}</strong>{% if let Some(orphaned_at) = project.orphaned_at %} since {% call time::format_absolute_time(orphaned_at) %}{% call time::timezone_abbr() %} ({% call time::format_time_interval(chrono::Utc::now() - orphaned_at) %} ago){% endif %}.</p>
	<p>Some of the reasons which may have caused this:</p>
	<ul>
		<li>You're looking for package name as it's spelled in some repository, while Repology normalizes project names and may spell them differently.</li>
		<li>The packages for this project are no longer available in any repositories known to Repology.</li>
		<li>The project you're looking for was renamed upstream, in some repository, or in Repology itself.</li>
		<li>The name you're looking for is ambiguous and may refer to multiple different projects.</li>
	</ul>
	{% if !redirect_projects_list.is_empty() %}
	<p>There are some projects which may be related to what you're looking for, they are listed below.</p>
	{% endif %}
	{% if leftovers_summary.has_history || leftovers_summary.has_reports || leftovers_summary.has_cves %}
	<p>Also, some historical data is still available for the gone project, which may be of interest:
		{%- if leftovers_summary.has_history %} <a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectHistory, [("project_name", project_name|as_ref)])? }}">history</a>{% endif -%}
		{%- if leftovers_summary.has_reports %}{% if leftovers_summary.has_history %},{% endif %} <a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectReport, [("project_name", project_name|as_ref)])?  }}">reports</a>{% endif -%}
		{%- if leftovers_summary.has_cves %}{% if leftovers_summary.has_history || leftovers_summary.has_reports %},{% endif %} <a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectCves, [("project_name", project_name|as_ref)])? }}">CVEs</a>{% endif -%}
	.</p>
	{% endif %}
</div>

{% if !redirect_projects_list.is_empty() %}
{% call projects_table::projects_table(redirect_projects_list, target_project_endpoint=ctx.endpoint) %}
{% endif %}

</div>
{% endblock %}
