{% extends "../_base.html" %}

{% block keywords %}{{ super() }}, {{ project_name }}{% endblock %}

{% block preheader %}
<div class="btn-group pageheader-right">
	{% if !project.is_orphaned() %}
	<a href="{{ crate::routes::Route::ProjectVersions.url_for().path_param("project_name", project_name)?.build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::ProjectVersions %} active{% endif %}">Versions</a>
	<a href="{{ crate::routes::Route::ProjectPackages.url_for().path_param("project_name", project_name)?.build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::ProjectPackages %} active{% endif %}">Packages</a>
	<a href="{{ crate::routes::Route::ProjectInformation.url_for().path_param("project_name", project_name)?.build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::ProjectInformation %} active{% endif %}">Information</a>
	{% endif %}
	<a href="{{ crate::routes::Route::ProjectHistory.url_for().path_param("project_name", project_name)?.build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::ProjectHistory %} active{% endif %}">History</a>
	{% if project.has_cves %}
	<a href="{{ crate::routes::Route::ProjectCves.url_for().path_param("project_name", project_name)?.build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::ProjectCves %} active{% endif %}">CVEs</a>
	{% endif %}
	{% if project.has_related %}
	<a href="{{ crate::routes::Route::ProjectRelated.url_for().path_param("project_name", project_name)?.build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::ProjectRelated %} active{% endif %}">Related</a>
	{% endif %}
	{% if !project.is_orphaned() %}
	<a href="{{ crate::routes::Route::ProjectBadges.url_for().path_param("project_name", project_name)?.build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::ProjectBadges %} active{% endif %}">Badges</a>
	{% endif %}
	{# TODO: if project.has_reports #}
	<a href="{{ crate::routes::Route::ProjectReport.url_for().path_param("project_name", project_name)?.build()? }}" class="btn btn-default{% if my_route.base() == crate::routes::Route::ProjectReport %} active{% endif %}" rel="nofollow"><span class="text-danger">Report</span></a>
</div>
{% endblock %}
