{% extends "../_base.html" %}

{% block keywords %}{{ super() }}, {{ project_name }}{% endblock %}

{% block preheader %}
<div class="btn-group pageheader-right">
	{% if !project.is_orphaned() %}
	<a href="{{ crate::endpoints::Endpoint::ProjectVersions.url_for().param("project_name", project_name).build()? }}" class="btn btn-default{% if ctx.is_endpoint(crate::endpoints::Endpoint::ProjectVersions) %} active{% endif %}">Versions</a>
	<a href="{{ crate::endpoints::Endpoint::ProjectPackages.url_for().param("project_name", project_name).build()? }}" class="btn btn-default{% if ctx.is_endpoint(crate::endpoints::Endpoint::ProjectPackages) %} active{% endif %}">Packages</a>
	<a href="{{ crate::endpoints::Endpoint::ProjectInformation.url_for().param("project_name", project_name).build()? }}" class="btn btn-default{% if ctx.is_endpoint(crate::endpoints::Endpoint::ProjectInformation) %} active{% endif %}">Information</a>
	{% endif %}
	<a href="{{ crate::endpoints::Endpoint::ProjectHistory.url_for().param("project_name", project_name).build()? }}" class="btn btn-default{% if ctx.is_endpoint(crate::endpoints::Endpoint::ProjectHistory) %} active{% endif %}">History</a>
	{% if project.has_cves %}
	<a href="{{ crate::endpoints::Endpoint::ProjectCves.url_for().param("project_name", project_name).build()? }}" class="btn btn-default{% if ctx.is_endpoint(crate::endpoints::Endpoint::ProjectCves) %} active{% endif %}">CVEs</a>
	{% endif %}
	{% if project.has_related %}
	<a href="{{ crate::endpoints::Endpoint::ProjectRelated.url_for().param("project_name", project_name).build()? }}" class="btn btn-default{% if ctx.is_endpoint(crate::endpoints::Endpoint::ProjectRelated) %} active{% endif %}">Related</a>
	{% endif %}
	{% if !project.is_orphaned() %}
	<a href="{{ crate::endpoints::Endpoint::ProjectBadges.url_for().param("project_name", project_name).build()? }}" class="btn btn-default{% if ctx.is_endpoint(crate::endpoints::Endpoint::ProjectBadges) %} active{% endif %}">Badges</a>
	{% endif %}
	{# TODO: if project.has_reports #}
	<a href="{{ crate::endpoints::Endpoint::ProjectReport.url_for().param("project_name", project_name).build()? }}" class="btn btn-default{% if ctx.is_endpoint(crate::endpoints::Endpoint::ProjectReport) %} active{% endif %}" rel="nofollow"><span class="text-danger">Report</span></a>
</div>
{% endblock %}
