{% extends "project/_base.html" %}
{% import "_macros/cpes.html" as cpes %}

{% block title %}{{ project_name }} vulnerabilities - Repology{% endblock %}
{% block header %}Vulnerabilities for <strong>{{ project_name }}</strong>{% endblock %}
{% block description %}Known vulnerabilities for project {{ project_name }}{% endblock %}
{% block keywords %}{% call super() %}, vulnerability{% endblock %}

{% block content %}
<div class="container">

{% if let Some(source_project) = redirect_from %}
<div class="alert alert-info" role="alert">
	<p>You were redirected from project {{source_project}}, which was moved or merged here</p>
</div>
{% endif %}

{% if aggregated_cves.is_empty() %}
<div class="alert alert-success" role="alert">No CVEs known for this project. This is not reliable though and may be caused by lacking CPE information or our simplified CVE configurations parsing. Feel free to submit a <a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectReport, [("project_name", project_name.as_str())])? }}">report</a>.</div>
{% else %}

{% if num_cves >= crate::constants::CVES_PER_PAGE %}
<div class="alert alert-warning" role="alert">Too many CVEs found for this project, limiting to latest {{ crate::constants::CVES_PER_PAGE }}.</div>
{% endif %}

{% if let Some(version) = highlighted_version %}
<p>Highlighting matches for version <span class="version version-outdated">{{ version }}</span>.</p>
{% endif %}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="minimal-column">CVE ID</th>
			<th class="minimal-column">CPE</th>
			<th>Affected version(s)</th>
		</tr>
	</thead>
	<tbody>
	{% for (aggregation, version_ranges) in aggregated_cves %}
		<tr>
			<td class="minimal-column">
				<a href="https://nvd.nist.gov/vuln/detail/{{ aggregation.cve_id }}">{{ aggregation.cve_id }}</a>
				<span class="cell-subitem" title="Published date">{{ aggregation.published }}</span>
				<span class="cell-subitem" title="Last modified date">{{ aggregation.last_modified }}</span>
			</td>
			<td class="minimal-column">{% call cpes::cpe_components_struct(aggregation, true) %}</td>
			<td class="text-left">
			{%- for range in version_ranges -%}
				{%- if !loop.first %} {% endif -%}
				<span class="version version-{% if range.highlighted %}outdated{% else %}rolling{% endif %}">{{ range.text }}</span>
			{%- endfor -%}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endif %}
</div>
{% endblock %}
