{% extends "project/_base.html" %}
{% import "_macros/autorefresh.html" as autorefresh %}
{% import "_macros/links.html" as links %}
{% import "_macros/time.html" as time %}

{% block extrameta %}
{% call autorefresh::enable_autorefresh(3600) %}
{% endblock %}

{% block title %}{{ project_name }} packaging history - Repology{% endblock %}
{% block header %}History for <strong>{{ project_name }}</strong>{% endblock %}
{% block description %}History of package versions for project {{ project_name }} in all repositories{% endblock %}

{% block content %}
<div class="container">

<p>Please note that this history is still an experimental feature
and may be reset at any time.</p>

<p>Also note that in addition to actual activity of software authors
and repository maintainers, this history may contain artifacts produced
by repology. For example, if two projects are merged it will look
like one project has appeared in more repositories and another one
removed from all repositories.</p>

{% call autorefresh::autorefresh_toggler() %}

<table class="table table-striped">
	<tr>
		<th class="text-center">Date{% call time::timezone_abbr() %}</th>
		<th class="text-center">Event</th>
	</tr>
{% for event in events %}
	<tr>
		<td class="minimal-column">{% call time::format_absolute_time(event.timestamp) %}</td>
		<td>
		{%- if let EventData::HistoryStart{actual_repos, old_repos, devel_versions, newest_versions} = event.data -%}
			<b>
			{%- let num_versions = devel_versions.len() + newest_versions.len() -%}
			History start

			{%- if num_versions > 0 -%}
				, latest {% if num_versions == 1 %}version is{% else %}versions are{% endif %}
				{% for version in devel_versions %}
					<span class="version version-big version-devel">{{ version }}</span>
				{%- endfor %}
				{% for version in newest_versions %}
					<span class="version version-big version-newest">{{ version }}</span>
				{%- endfor %}
			{%- else -%}
				, no known latest or devel versions for this project
			{%- endif -%}

			{%- if !actual_repos.is_empty() -%}
				, up to date in
				{%- for repo in actual_repos %}
					{%- if !loop.first %},{% endif %} {% call links::repository_link(repo) %}
				{%- endfor %}
			{%- endif %}

			{%- if !old_repos.is_empty() -%}
				, {% if !actual_repos.is_empty() %}also {% endif %}present in
				{%- for repo in old_repos %}
					{%- if !loop.first %},{% endif %} {% call links::repository_link(repo) %}
				{%- endfor %}
			{%- endif %}
			</b>
		{%- else if let EventData::VersionUpdate{versions, repos, branch, passed} = event.data -%}
			<b>
			{%- if !versions.is_empty() %}
				{{- branch|capitalize }} version{% if versions.len() > 1 %}s{% endif %} updated to
				{%- for version in versions %}
					<span class="version version-big version-{{ branch }}">{{ version }}</span>
				{%- endfor %}

				{%- if !repos.is_empty() %}
					by

					{%- for repo in repos %}
					{%- if !loop.first %},{% endif %} {% call links::repository_link(repo) %}
					{%- endfor %}
				{%- endif %}
			{%- else -%}
				There's no more {{ branch }} version
			{%- endif %}

			{%- if let Some(passed) = passed -%}
				, in {% call time::format_time_interval(passed) %} since the last update
			{%- endif %}
			</b>
		{%- else if let EventData::CatchUp{repos, branch, lag} = event.data -%}
			{%- for repo in repos -%}
				{%- if !loop.first %},{% endif %} {% call links::repository_link(repo) %}
			{%- endfor %}

			{%- if repos.len() == 1 %} has{% else %} have{% endif %} caught up with the {{ branch }} version

			{%- if let Some(lag) = lag %}
                in {% call time::format_time_interval(lag) %}
            {%- endif %}
		{%- else if let EventData::RepositoriesUpdate{repos_added, repos_removed} = event.data -%}
			Project
			{%- if !repos_added.is_empty() %}
				added to
				{%- for repo in repos_added %}
					{%- if !loop.first %},{% endif %} {% call links::repository_link(repo) %}
				{%- endfor %}
			{%- endif %}

			{%- if !repos_added.is_empty() && !repos_removed.is_empty() -%}, and{% endif %}

			{%- if !repos_removed.is_empty() %}
				removed from
				{%- for repo in repos_removed %}
					{%- if !loop.first %},{% endif %} {% call links::repository_link(repo) %}
				{%- endfor %}
			{% endif %}
		{%- else if let EventData::HistoryEnd{last_repos} = event.data -%}
			<b>
			History ends, there are no longer packages for this project in any repositories known to repology

			{%- if !last_repos.is_empty() -%}
				, last repositor{% if last_repos.len() == 1 %}y was{% else %}ies were{% endif %}
				{%- for repo in last_repos %}
					{%- if !loop.first %},{% endif %} {% call links::repository_link(repo) %}
				{%- endfor %}
			{% endif %}
			</b>
		{%- endif -%}
		</td>
	</tr>
{% endfor %}
</table>
</div>
{% endblock %}
