{% extends "project/_base.html" %}
{% import "_macros/link_status.html" as link_status %}

{% block title %}{{ project_name }} packages dissection - Repology{% endblock %}
{% block header %}Information for <strong>{{ project_name }}</strong>{% endblock %}
{% block description %}Aggregated information from all packages for project {{ project_name }}{% endblock %}

{% block content %}
<div class="container">

<div class="row">
	<div class="col-md-4">
		<section id="Versions">
			<h2>Versions</h2>
			<ul class="list-sparse">
			{% for version in slices.versions %}
				<li>
					<span class="version version-big version-{{ version.status.as_ref() }}">
						{{- version.version -}}
						{%- if version.vulnerable %} <a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectCves, [("project_name", project_name|as_ref()), ("version", version.version|as_ref)])? }}"><img src="{{ ctx.url_for_static("vulnerable.v1.svg")? }}" alt="Potentially vulnerable"></a>{% endif -%}
					</span>
					{%- if version.spread > 1 %} <b>({{ version.spread }})</b>{% endif -%}
				</li>
			{% endfor %}
			</ul>
		</section>
		{% if let Some(slice) = slices.string_slices.get(StringSliceType::Name|as_ref) %}
		<section id="Package_names">
			<h2>Package names</h2>
			<ul>
			{% for item in slice %}
				<li>{{ item.value }}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		<section id="Repositories">
			<h2>Repositories</h2>
			<ul>
			{% for repository_data in slices.repositories %}
			<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository_data.name.as_ref())])? }}">{{ repository_data.title }}</a></li>
			{% endfor %}
			</ul>
		</section>

		{% if let Some(slice) = slices.string_slices.get(StringSliceType::Category|as_ref) %}
		<section id="Categories">
			<h2>Categories</h2>
			<ul>
			{% for item in slice %}
				<li>{{ item.value }}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if let Some(slice) = slices.string_slices.get(StringSliceType::License|as_ref) %}
		<section id="Licenses">
			<h2>Licenses</h2>
			<ul>
			{% for item in slice %}
				<li>{{ item.value }}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}
	</div>
	<div class="col-md-8">
		{% if let Some(slice) = slices.string_slices.get(StringSliceType::Summary|as_ref) %}
		<section id="Summaries">
			<h2>Summaries</h2>
			<ul>
			{% for item in slice %}
				<li>{{ item.value }}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if let Some(slice) = slices.string_slices.get(StringSliceType::Maintainer|as_ref) %}
		<section id="Maintainers">
			<h2>Maintainers</h2>
			<ul>
			{% for item in slice %}
				<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainer, [("maintainer_name", item.value|as_ref)])? }}">{{ item.value }}</a>{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>

			{% if let Some(maintainer_emails) = slices.maintainer_emails %}
			<ul>
				<li><a href="mailto:{{ maintainer_emails }}?subject=%5B{{ project_name }}%20package%5D">Group email</a></li>
			</ul>
			{% endif %}
		</section>
		{% endif %}

		{% if let Some(slice) = slices.link_slices.get(LinkSliceType::Homepage|as_ref) %}
		<section id="Homepage_links">
			<h2>Homepage links</h2>
			<ul>
			{% for item in slice %}
				<li class="break-word"><a href="{{ item.url }}">{{ item.url }}</a>{% call link_status::link_status(item.link, true) %}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if let Some(slice) = slices.link_slices.get(LinkSliceType::Issues|as_ref) %}
		<section id="Issue_tracker_links">
			<h2>Issue tracker links</h2>
			<ul>
			{% for item in slice %}
				<li class="break-word"><a href="{{ item.url }}">{{ item.url }}</a>{% call link_status::link_status(item.link, false) %}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if let Some(slice) = slices.link_slices.get(LinkSliceType::Repository|as_ref) %}
		<section id="Repository_links">
			<h2>Repository links</h2>
			<ul>
			{% for item in slice %}
				<li class="break-word"><a href="{{ item.url }}">{{ item.url }}</a>{% call link_status::link_status(item.link, false) %}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if let Some(slice) = slices.link_slices.get(LinkSliceType::Documentation|as_ref) %}
		<section id="Documentation_links">
			<h2>Documentation links</h2>
			<ul>
			{% for item in slice %}
				<li class="break-word"><a href="{{ item.url }}">{{ item.url }}</a>{% call link_status::link_status(item.link, false) %}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if let Some(slice) = slices.link_slices.get(LinkSliceType::Recipe|as_ref) %}
		<section id="All_package_recipes">
			<h2>All package recipes</h2>
			<ul>
			{% for item in slice %}
				<li class="break-word"><a href="{{ item.url }}">{{ item.url }}</a>{% call link_status::link_status(item.link, false) %}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if let Some(slice) = slices.link_slices.get(LinkSliceType::Download|as_ref) %}
		<section id="Downloads">
			<h2>Downloads</h2>
			<ul>
			{% for item in slice %}
				<li class="break-word"><a href="{{ item.url }}">{{ item.url }}</a>{% call link_status::link_status(item.link, false) %}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if let Some(slice) = slices.link_slices.get(LinkSliceType::Patch|as_ref) %}
		<section id="Patches">
			<h2>Patches</h2>
			<ul>
			{% for item in slice %}
				<li class="break-word"><a href="{{ item.url }}">{{ item.url }}</a>{% call link_status::link_status(item.link, false) %}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if let Some(slice) = slices.link_slices.get(LinkSliceType::BuildLog|as_ref) %}
		<section id="Build_logs">
			<h2>Build logs</h2>
			<ul>
			{% for item in slice %}
				<li class="break-word"><a href="{{ item.url }}">{{ item.url }}</a>{% call link_status::link_status(item.link, false) %}{% if item.spread > 1 %} <b>({{ item.spread }})</b>{% endif %}</li>
			{% endfor %}
			</ul>
		</section>
		{% endif %}
	</div>
</div>

</div>
{% endblock %}
