{% extends "project/_base.html" %}
{% import "_macros/link_status.html" as link_status %}
{% import "_macros/links.html" as links %}

{% block title %}{{ project_name }} packages - Repology{% endblock %}
{% block header %}Packages for <strong>{{ project_name }}</strong>{% endblock %}
{% block description %}Information on all packages for project {{ project_name }}{% endblock %}

{% block content %}
<div class="container">

{% if let Some(source_project) = redirect_from %}
<div class="alert alert-info" role="alert">
	<p>You were redirected from project {{source_project}}, which was moved or merged here</p>
</div>
{% endif %}

<p><b>{{ packages.len() }}</b> package(s) known</p>

<div class="row">
{% for package in packages %}
{% if !loop.first && loop.index0 % 3 == 0 %}
</div>
<div class="row">
{% endif %}
	<div class="col-md-4">
		<div class="panel panel-version-{{ package.status.as_ref() }}">
			<div class="panel-heading">
				<div class="package-repository">
				<a class="panel-heading-link" href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", package.repo.as_str())])? }}">{{ repositories_data.repository_title(package.repo) }}</a>
				{%- if let Some(subrepo) = package.subrepo -%}
					<br><sup>{{ subrepo }}</sup>
				{%- endif -%}
				</div>
				<h3 class="package-name">
					{{- package.visiblename -}}
				</h3>
				<div class="package-version">
					{%- let is_vulnerable = (package.flags bitand (1<<16)) != 0 -%}
					{%- let is_recalled = (package.flags bitand (1<<20)) != 0 -%}
					{%- let is_fixed = package.version != package.origversion -%}
					<span class="
						{%- if is_fixed %} version-property-fixed{% endif -%}
						{%- if is_recalled %} version-property-recalled{% endif -%}
						"
						{%- if is_fixed %} title="Normalized from &quot;{{ package.origversion }}&quot;"{% endif -%}
					>
						{{- package.version -}}
						{%- if is_vulnerable %} <a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectCves, [("project_name", project_name), ("version", package.version.as_str())])? }}"><img src="{{ ctx.url_for_static("vulnerable.v1.svg")? }}" alt="Potentially vulnerable"></a>{% endif -%}
					</span>
					{%- if package.rawversion != package.version %} ({{ package.rawversion }}){% endif -%}
					{%- if is_recalled %} (recalled){% endif -%}
				</div>
			</div>
			<ul class="list-group">
			{% if let Some(summary) = package.summary %}
				<li class="list-group-item"><b>Summary:</b><br>
					{{- summary -}}
				</li>
			{% endif %}
			{% if !package.maintainers.is_empty() %}
				<li class="list-group-item"><b>Maintainer{% if package.maintainers.len() > 1 %}s{% endif %}:</b>
					<ul class="list-package-details">
					{% for maintainer in package.maintainers %}
						<li><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainer, [("maintainer_name", maintainer.as_str())])? }}">{{ maintainer }}</a></li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
			{% if let Some(category) = package.category %}
				<li class="list-group-item"><b>Category:</b>
					<ul class="list-package-details">
						<li>{{ category }}</li>
					</ul>
				</li>
			{% endif %}
			{% if !package.licenses.is_empty() %}
				<li class="list-group-item"><b>License{% if package.licenses.len() > 1 %}s{% endif %}:</b>
					<ul class="list-package-details">
					{% for license in package.licenses %}
						<li>{{ license }}</li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
			{% if !package.links.is_empty() %}
				<li class="list-group-item"><b>Link(s):</b>
					<ul class="list-package-details">
					{% for (link_type, link_id, link_fragment) in package.links.as_ref() %}
						{% let link = links[link_id] %}
						<li><a href="{{ link.url }}{% if let Some(link_fragment) = link_fragment %}#{{ link_fragment }}{% endif %}">{% call links::format_link_type(ctx.deref(ctx.deref(link_type))) %}</a>{% call link_status::link_status(link, false) %}</li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
			</ul>
		</div>
	</div>
{% endfor %}
</div>
</div>
{% endblock %}
