{% extends "project/_base.html" %}
{% import "_macros/projects_table.html" as projects_table %}

{% block title %}{{ project_name }} related projects - Repology{% endblock %}
{% block header %}Related for <strong>{{ project_name }}</strong>{% endblock %}
{% block description %}List of packages with same homepage as {{ project_name }} in all repositories{% endblock %}

{% block content %}
<div class="container">

{% if projects_list.is_empty() %}
<div class="alert alert-warning" role="alert">No related projects found.</div>
{% else %}

{#% if projects_list.len() == crate::constants::PROJECTS_PER_PAGE %}
<div class="alert alert-warning" role="alert">Too many related projects found, only listing first {{ crate::constants::PROJECTS_PER_PAGE }}!</div>
{% endif %#}

<p>Related projects are determined by recursively matching package homepage URLs. Note that this list may be incomplete as Repology may not be able to get homepage URLs from some repositories.</p>

{% call projects_table::projects_table_with_rank(projects_list, target_project_endpoint=crate::endpoints::Endpoint::ProjectRelated) %}

{% include "_includes/versionclass/legend.html" %}

{% endif %}

</div>
{% endblock %}
