{% extends "project/_base.html" %}

{% block title %}{{ project_name }} package versions - Repology{% endblock %}
{% block header %}Versions for <strong>{{ project_name }}</strong>{% endblock %}
{% block description %}List of package versions for project {{ project_name }} in all repositories{% endblock %}

{% block content %}
<div class="container">

{% if let Some(source_project) = redirect_from %}
<div class="alert alert-info" role="alert">
	<p>You were redirected from project {{source_project}}, which was moved or merged here</p>
</div>
{% endif %}

<p><b>{{ num_packages }}</b> package(s) known</p>

<table class="table table-striped">
	<tr>
		<th class="text-right">Repository</th>
		<th class="text-center">Package name</th>
		<th class="text-center">Version</th>
		<th class="text-center">Category</th>
		<th class="text-left">Maintainer(s)</th>
	</tr>
{% for repository_data in repositories_data.active_repositories() %}
{% if let Some(packages) = packages_by_repo.get(repository_data.name) %}
{% for package in packages %}
	<tr{% if loop.first %} id="{{ repository_data.name }}"{% endif %}>
		<td class="text-right">
			<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository_data.name|ref)])? }}">{{ repository_data.title }}</a>
			{%- if let Some(subrepo) = package.subrepo -%}
				<br><sup>{{ subrepo }}</sup>
			{%- endif -%}
		</td>
		<td class="text-center">
			{%- if let Some(url) = package.url -%}
			<a href="{{ url }}">{{ package.visiblename }}</a>
			{%- else -%}
			{{ package.visiblename }}
			{%- endif -%}
		</td>
		<td class="text-center">
			{%- let is_vulnerable = (package.flags bitand (1<<16)) != 0 -%}
			{%- let is_recalled = (package.flags bitand (1<<20)) != 0 -%}
			{%- let is_fixed = package.origversion != package.version -%}
			<span class="version version-big version-{{ package.status.as_ref() }}
				{%- if is_fixed %} version-property-fixed{% endif -%}
				{%- if is_recalled %} version-property-recalled{% endif -%}
				" title="{{ package.status.as_ref() }} version
				{%- if is_fixed %}; was normalized from &quot;{{ package.origversion }}&quot;{% endif -%}
				{%- if is_recalled %}; version is recalled{% endif -%}
			">
				{%- if let Some(url) = package.url -%}
				<a href="{{ url }}">{{ package.version }}</a>
				{%- else -%}
				{{ package.version }}
				{%- endif -%}
				{%- if is_vulnerable %} <a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectCves, [("project_name", project_name|ref), ("version", package.version|ref)])? }}"><img src="{{ ctx.url_for_static("vulnerable.v1.svg")? }}" alt="Potentially vulnerable"></a>{% endif -%}
			</span>{#- -#}
		</td>
		<td class="text-center">
			{{- package.category.as_deref().unwrap_or("-") -}}
		</td>
		<td class="text-left">
		{%- if !package.maintainers.is_empty() -%}
			{%- for maintainer in package.maintainers -%}
				{%- if !loop.first %}, {% endif -%}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainer, [("maintainer_name", maintainer|ref)])? }}">{{ maintainer }}</a>
			{%- endfor -%}
		{%- else -%}
			-
		{%- endif -%}
		</td>
	</tr>
{% endfor %}
{% endif %}
{% endfor %}
</table>

</div>
{% endblock %}
