[package]
name = "repology-webapp"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.93"
askama = "0.12.1"
axum = { version = "0.7.7", features = ["macros"] }
chrono = { version = "0.4.38", default-features = false, features = ["std", "now"] }
cityhasher = "0.1.0"
clap = { version = "4.5.20", features = ["derive"] }
flate2 = "1.0.33"
include_dir = { version = "0.7.4", features = ["glob", "nightly"] }
indoc = "2.0.5"
itertools = "0.13.0"
libversion = { path = "../libversion" }
metrics = "0.24.0"
metrics-exporter-prometheus = { version = "0.16.0", default-features = false, features = ["http-listener"] }
metrics-process = { version = "2.3.0", features = ["use-gauge-on-cpu-seconds-total"] }
mime = "0.3.17"
repology-common = { path = "../repology-common" }
serde = { version = "1.0.214", features = ["derive"] }
serde_json = "1.0.132"
sqlx = { version = "0.8.2", features = ["runtime-tokio", "postgres", "chrono"] }
strum = { version = "0.26.3", features = ["strum_macros", "derive"] }
strum_macros = "0.26.4"
tokio = { version = "1.41.1", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.40"
tracing-appender = "0.2.3"
tracing-subscriber = "0.3.18"
ttf-parser = "0.25.0"
url-escape = "0.1.1"

[dev-dependencies]
repology-webapp-test-utils = { path = "../repology-webapp-test-utils" }
