{%- macro autorefresh_toggler() -%}
	<p>{% if autorefresh %}<a href="{{ self.url_for_self([("autorefresh", "")])? }}">Disable</a>{% else %}
		<a href="{{ self.url_for_self([("autorefresh", "1")])? }}" rel="nofollow">Enable</a>{% endif %} autorefresh.</p>
{%- endmacro -%}

{%- macro enable_autorefresh(period) -%}
{% if autorefresh %}
	<meta http-equiv="refresh" content="{{ period }}">
	<link rel="canonical" href="{{ crate::constants::REPOLOGY_HOSTNAME }}{{ self.url_for_self([("autorefresh", "")])? }}">
{% endif %}
{%- endmacro -%}
