{%- macro panel(field_name, field_value, hide_asterisks) -%}
	{%- if field_value != "*" || !hide_asterisks -%}
		<div class="cpe-component">
			<div class="cpe-component-header non-selectable">{{ field_name }}</div>
			<div class="cpe-component-value">{% if field_value == "" %}∅{% else %}{{ field_value }}{% endif %}</div>
		</div>
	{%- endif -%}
{%- endmacro -%}

{%- macro cpe_components(fields_json, hide_asterisks) -%}
  {%- let vendor = fields_json.get("cpe_vendor").unwrap().as_str().unwrap() -%}
  {%- let product = fields_json.get("cpe_product").unwrap().as_str().unwrap() -%}
  {%- let edition = fields_json.get("cpe_edition").unwrap().as_str().unwrap() -%}
  {%- let lang = fields_json.get("cpe_lang").unwrap().as_str().unwrap() -%}
  {%- let sw_edition = fields_json.get("sw_edition").unwrap().as_str().unwrap() -%}
  {%- let target_sw = fields_json.get("cpe_target_sw").unwrap().as_str().unwrap() -%}
  {%- let target_hw = fields_json.get("cpe_target_hw").unwrap().as_str().unwrap() -%}
  {%- let other = fields_json.get("cpe_other").unwrap().as_str().unwrap() -%}
  {% call panel("vendor", vendor, hide_asterisks) %}
  {% call panel("product", product, hide_asterisks) %}
  {% call panel("edition", edition, hide_asterisks) %}
  {% call panel("lang", lang, hide_asterisks) %}
  {% call panel("sw_edition", sw_edition, hide_asterisks) %}
  {% call panel("target_sw", target_sw, hide_asterisks) %}
  {% call panel("target_hw", target_hw, hide_asterisks) %}
  {% call panel("other", other, hide_asterisks) %}
{%- endmacro -%}

{%- macro str(fields_json) -%}
  {%- let vendor = fields_json.get("cpe_vendor").unwrap().as_str().unwrap() -%}
  {%- let product = fields_json.get("cpe_product").unwrap().as_str().unwrap() -%}
  {%- let edition = fields_json.get("cpe_edition").unwrap().as_str().unwrap() -%}
  {%- let lang = fields_json.get("cpe_lang").unwrap().as_str().unwrap() -%}
  {%- let sw_edition = fields_json.get("sw_edition").unwrap().as_str().unwrap() -%}
  {%- let target_sw = fields_json.get("cpe_target_sw").unwrap().as_str().unwrap() -%}
  {%- let target_hw = fields_json.get("cpe_target_hw").unwrap().as_str().unwrap() -%}
  {%- let other = fields_json.get("cpe_other").unwrap().as_str().unwrap() -%}
	cpe:2.3:a:{{ vendor }}:{{ product }}:{{ edition }}:{{ lang }}:{{ sw_edition }}:{{ target_sw }}:{{ target_hw }}:{{ other }}
	{#                                  ^ should we add :*:* here to form a correct CPE? #}
{%- endmacro -%}
