{%- macro panel(field_name, field_value, hide_asterisks) -%}
	{%- if field_value != "*" || !hide_asterisks -%}
		<div class="cpe-component">
			<div class="cpe-component-header non-selectable">{{ field_name }}</div>
			<div class="cpe-component-value">{% if field_value == "" %}∅{% else %}{{ field_value }}{% endif %}</div>
		</div>
	{%- endif -%}
{%- endmacro -%}

{%- macro cpe_components(fields_json, hide_asterisks) -%}
	{%- let vendor = fields_json.get("cpe_vendor").ok_or("cpe_vendor missing")?.as_str().ok_or("cpe_vendor is not a string")? -%}
	{%- let product = fields_json.get("cpe_product").ok_or("cpe_product missing")?.as_str().ok_or("cpe_product is not a string")? -%}
	{%- let edition = fields_json.get("cpe_edition").ok_or("cpe_edition missing")?.as_str().ok_or("cpe_edition is not a string")? -%}
	{%- let lang = fields_json.get("cpe_lang").ok_or("cpe_lang missing")?.as_str().ok_or("cpe_lang is not a string")? -%}
	{%- let sw_edition = fields_json.get("cpe_sw_edition").ok_or("cpe_sw_edition missing")?.as_str().ok_or("cpe_sw_edition is not a string")? -%}
	{%- let target_sw = fields_json.get("cpe_target_sw").ok_or("cpe_target_sw missing")?.as_str().ok_or("cpe_target_sw is not a string")? -%}
	{%- let target_hw = fields_json.get("cpe_target_hw").ok_or("cpe_target_hw missing")?.as_str().ok_or("cpe_target_hw is not a string")? -%}
	{%- let other = fields_json.get("cpe_other").ok_or("cpe_other missing")?.as_str().ok_or("cpe_other is not a string")? -%}
	{% call panel("vendor", vendor, hide_asterisks) %}
	{% call panel("product", product, hide_asterisks) %}
	{% call panel("edition", edition, hide_asterisks) %}
	{% call panel("lang", lang, hide_asterisks) %}
	{% call panel("sw_edition", sw_edition, hide_asterisks) %}
	{% call panel("target_sw", target_sw, hide_asterisks) %}
	{% call panel("target_hw", target_hw, hide_asterisks) %}
	{% call panel("other", other, hide_asterisks) %}
{%- endmacro -%}

{%- macro str(fields_json) -%}
	{%- let vendor = fields_json.get("cpe_vendor").ok_or("cpe_vendor missing")?.as_str().ok_or("cpe_vendor is not a string")? -%}
	{%- let product = fields_json.get("cpe_product").ok_or("cpe_product missing")?.as_str().ok_or("cpe_product is not a string")? -%}
	{%- let edition = fields_json.get("cpe_edition").ok_or("cpe_edition missing")?.as_str().ok_or("cpe_edition is not a string")? -%}
	{%- let lang = fields_json.get("cpe_lang").ok_or("cpe_lang missing")?.as_str().ok_or("cpe_lang is not a string")? -%}
	{%- let sw_edition = fields_json.get("cpe_sw_edition").ok_or("cpe_sw_edition missing")?.as_str().ok_or("cpe_sw_edition is not a string")? -%}
	{%- let target_sw = fields_json.get("cpe_target_sw").ok_or("cpe_target_sw missing")?.as_str().ok_or("cpe_target_sw is not a string")? -%}
	{%- let target_hw = fields_json.get("cpe_target_hw").ok_or("cpe_target_hw missing")?.as_str().ok_or("cpe_target_hw is not a string")? -%}
	{%- let other = fields_json.get("cpe_other").ok_or("cpe_other missing")?.as_str().ok_or("cpe_other is not a string")? -%}
	cpe:2.3:a:{{ vendor }}:{{ product }}:{{ edition }}:{{ lang }}:{{ sw_edition }}:{{ target_sw }}:{{ target_hw }}:{{ other }}
	{#                                  ^ should we add :*:* here to form a correct CPE? #}
{%- endmacro -%}
