{%- macro format_link_status_code(code) -%}
	{%- if code == -1 %}Unknown error

	{%- else if code == -100 %}Connect timeout (60 seconds)
	{%- else if code == -101 %}Invalid URL
	{%- else if code == -102 %}Host manually blacklisted for being taken over by an unrelated entity

	{%- else if code == -200 %}DNS error
	{%- else if code == -201 %}DNS error: domain name not found
	{%- else if code == -202 %}DNS error: no address record
	{%- else if code == -203 %}DNS error: could not contact DNS servers
	{%- else if code == -204 %}DNS error: timeout while contacting DNS servers
	{%- else if code == -205 %}DNS error: IPv4-mapped address in AAAA

	{%- else if code == -300 %}Connection refused
	{%- else if code == -301 %}No route to host
	{%- else if code == -302 %}Connection reset by peer
	{%- else if code == -303 %}Network is unreachable
	{%- else if code == -304 %}Server disconnected
	{%- else if code == -306 %}Connection aborted
	{%- else if code == -307 %}Address not available

	{%- else if code == -400 %}Too many redirects (possibly, a redirect loop)
	{%- else if code == -402 %}HTTP protocol error

	{%- else if code == -500 %}SSL error
	{%- else if code == -501 %}SSL error: certificate has expired
	{%- else if code == -502 %}SSL error: certificate issued for different hostname
	{%- else if code == -503 %}SSL error: self signed certificate
	{%- else if code == -504 %}SSL error: self signed certificate in certificate chain
	{%- else if code == -505 %}SSL error: incomplete certificate chain

	{%- else if code >= 0 && code < 1000 %}HTTP {{ code }}
	{%- else %}{{ code }}
	{%- endif -%}
{%- endmacro -%}

{%- macro format_link_suggestions(code, url) -%}
	{%- if code >= -399 && code <= -300 || code == -100 || code == -203 || code == -204 -%}
		(check on <a href="https://www.uptrends.com/tools/uptime" rel="nofollow">uptrends</a>, <a href="https://www.site24x7.com/check-website-availability.html" rel="nofollow">site24x7</a>, <a href="https://check-host.net/check-ping" rel="nofollow">check-host.net</a>; note that there can be geo-based blocks not visible on some of these checkers)
	{%- endif -%}
	{%- if code == -205 -%}
		(<a href="https://bb6-ie.blogspot.com/2017/04/do-not-put-ipv4-mapped-ipv6-addresses.html" rel="nofollow">related reading</a>)
	{%- endif -%}
	{%- if code >= -599 && code <= -500 -%}
		(<a href="https://www.ssllabs.com/ssltest/analyze.html?d={{ url|extract_netloc }}" rel="nofollow">check on SSL Labs</a>)
	{%- endif -%}
{%- endmacro -%}

{%- macro format_link_type(code) -%}
	{%- if code == 0 %}Upstream homepage
	{%- else if code == 1 %}Upstream download
	{%- else if code == 2 %}Upstream repository
	{%- else if code == 3 %}Upstream issue tracker
	{%- else if code == 4 %}Project page
	{%- else if code == 5 %}Package page
	{%- else if code == 6 %}Package download
	{%- else if code == 7 %}Package sources
	{%- else if code == 8 %}Package issue tracker
	{%- else if code == 9 %}Package recipe
	{%- else if code == 10 %}Package recipe (raw)
	{%- else if code == 11 %}Patch
	{%- else if code == 12 %}Patch (raw)
	{%- else if code == 13 %}Build log
	{%- else if code == 14 %}Build log (raw)
	{%- else if code == 15 %}New version checker page
	{%- else if code == 16 %}Documentation
	{%- else if code == 17 %}Changelog
	{%- else if code == 18 %}Project download
	{%- else if code == 19 %}Donation
	{%- else if code == 20 %}Discussion
	{%- else if code == 21 %}Coverage
	{%- else if code == 22 %}CI
	{%- else if code == 23 %}Wiki
	{%- else if code == 25 %}Package statistics
	{%- else if code == 26 %}Package build status
	{%- else if code == 27 %}Package build logs
	{%- else if code == 28 %}Upstream download page
	{%- else %}Other{% endif -%}
{%- endmacro -%}

{#
{%- macro repository_link(repo) -%}
	{%- if repo in repometadata.active_names() -%}
		<a href="{{ url_for(endpoint='repository', repo=repo) }}">{{ repometadata[repo].desc }}</a>
	{%- else -%}
		<span class="legacy-repository">{{ repometadata[repo].desc }}</span>
	{%- endif -%}
{%- endmacro -%}
#}
