{%- macro format_link_status_code(code) -%}
	{%- if code == -1 %}Unknown error

	{%- else if code == -100 %}Connect timeout (60 seconds)
	{%- else if code == -101 %}Invalid URL
	{%- else if code == -102 %}Host manually blacklisted for being taken over by an unrelated entity

	{%- else if code == -200 %}DNS error
	{%- else if code == -201 %}DNS error: domain name not found
	{%- else if code == -202 %}DNS error: no address record
	{%- else if code == -203 %}DNS error: could not contact DNS servers
	{%- else if code == -204 %}DNS error: timeout while contacting DNS servers
	{%- else if code == -205 %}DNS error: IPv4-mapped address in AAAA

	{%- else if code == -300 %}Connection refused
	{%- else if code == -301 %}No route to host
	{%- else if code == -302 %}Connection reset by peer
	{%- else if code == -303 %}Network is unreachable
	{%- else if code == -304 %}Server disconnected
	{%- else if code == -306 %}Connection aborted
	{%- else if code == -307 %}Address not available

	{%- else if code == -400 %}Too many redirects (possibly, a redirect loop)
	{%- else if code == -402 %}HTTP protocol error

	{%- else if code == -500 %}SSL error
	{%- else if code == -501 %}SSL error: certificate has expired
	{%- else if code == -502 %}SSL error: certificate issued for different hostname
	{%- else if code == -503 %}SSL error: self signed certificate
	{%- else if code == -504 %}SSL error: self signed certificate in certificate chain
	{%- else if code == -505 %}SSL error: incomplete certificate chain

	{%- else if code >= 0 && code < 1000 %}HTTP {{ code }}
	{%- else %}{{ code }}
	{%- endif -%}
{%- endmacro -%}

{%- macro format_link_suggestions(code, url) -%}
	{%- if code >= -399 && code <= -300 || code == -100 || code == -203 || code == -204 -%}
		(check on <a href="https://www.uptrends.com/tools/uptime" rel="nofollow">uptrends</a>, <a href="https://www.site24x7.com/check-website-availability.html" rel="nofollow">site24x7</a>, <a href="https://check-host.net/check-ping" rel="nofollow">check-host.net</a>; note that there can be geo-based blocks not visible on some of these checkers)
	{%- endif -%}
	{%- if code == -205 -%}
		(<a href="https://bb6-ie.blogspot.com/2017/04/do-not-put-ipv4-mapped-ipv6-addresses.html" rel="nofollow">related reading</a>)
	{%- endif -%}
	{%- if code >= -599 && code <= -500 -%}
		{%- if let Some(domain) = crate::template_funcs::extract_domain_for_ssltest(url) -%}
			(<a href="https://www.ssllabs.com/ssltest/analyze.html?d={{ domain }}" rel="nofollow">check on SSL Labs</a>)
		{%- endif -%}
	{%- endif -%}
{%- endmacro -%}

{%- macro format_link_type(link_type) -%}
	{%- if link_type == repology_common::LinkType::UpstreamHomepage %}Upstream homepage
	{%- else if link_type == repology_common::LinkType::UpstreamDownload %}Upstream download
	{%- else if link_type == repology_common::LinkType::UpstreamRepository %}Upstream repository
	{%- else if link_type == repology_common::LinkType::UpstreamIssueTracker %}Upstream issue tracker
	{%- else if link_type == repology_common::LinkType::ProjectHomepage %}Project page
	{%- else if link_type == repology_common::LinkType::PackageHomepage %}Package page
	{%- else if link_type == repology_common::LinkType::PackageDownload %}Package download
	{%- else if link_type == repology_common::LinkType::PackageSources %}Package sources
	{%- else if link_type == repology_common::LinkType::PackageIssueTracker %}Package issue tracker
	{%- else if link_type == repology_common::LinkType::PackageRecipe %}Package recipe
	{%- else if link_type == repology_common::LinkType::PackageRecipeRaw %}Package recipe (raw)
	{%- else if link_type == repology_common::LinkType::PackagePatch %}Patch
	{%- else if link_type == repology_common::LinkType::PackagePatchRaw %}Patch (raw)
	{%- else if link_type == repology_common::LinkType::PackageBuildLog %}Build log
	{%- else if link_type == repology_common::LinkType::PackageBuildLogRaw %}Build log (raw)
	{%- else if link_type == repology_common::LinkType::PackageNewVersionChecker %}New version checker page
	{%- else if link_type == repology_common::LinkType::UpstreamDocumentation %}Documentation
	{%- else if link_type == repology_common::LinkType::UpstreamChangelog %}Changelog
	{%- else if link_type == repology_common::LinkType::ProjectDownload %}Project download
	{%- else if link_type == repology_common::LinkType::UpstreamDonation %}Donation
	{%- else if link_type == repology_common::LinkType::UpstreamDiscussion %}Discussion
	{%- else if link_type == repology_common::LinkType::UpstreamCoverage %}Coverage
	{%- else if link_type == repology_common::LinkType::UpstreamCi %}CI
	{%- else if link_type == repology_common::LinkType::UpstreamWiki %}Wiki
	{%- else if link_type == repology_common::LinkType::PackageStatistics %}Package statistics
	{%- else if link_type == repology_common::LinkType::PackageBuildStatus %}Package build status
	{%- else if link_type == repology_common::LinkType::PackageBuildLogs %}Package build logs
	{%- else if link_type == repology_common::LinkType::UpstreamDownloadPage %}Upstream download page
	{%- else %}Other{% endif -%}
{%- endmacro -%}

{%- macro repository_link(repository_name) -%}
	{%- if repositories_data.is_repository_active(repository_name) -%}
		<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository_name)])? }}">{{ repositories_data.repository_title(repository_name) }}</a>
	{%- else -%}
		<span class="legacy-repository">{{ repositories_data.repository_title(repository_name) }}</span>
	{%- endif -%}
{%- endmacro -%}
