{%- macro format_link_status(status) -%}
	{%- match status %}
		{%- when LinkStatus::Http(code) %}HTTP {{code}}

		{%- when LinkStatus::NotYetProcessed %}not yet processed by the link checker
		{%- when LinkStatus::Skipped %}host manually excluded from link checking
		{%- when LinkStatus::OutOfSample %}link is subject to sampling, and is excluded from the sample
		{%- when LinkStatus::SatisfiedWithIpv6Success %}not checked because IPv6 check succeeded
		{%- when LinkStatus::UnsupportedScheme %}unsupported scheme
		{%- when LinkStatus::ProtocolDisabled %}protocol checking manually disabled
		{%- when LinkStatus::ProtocolDisabledForHost %}protocol checking manually disabled for the host

		{%- when LinkStatus::Timeout %}connect timeout (60 seconds)
		{%- when LinkStatus::InvalidUrl %}invalid URL
		{%- when LinkStatus::Blacklisted %}host manually blacklisted for being taken over by an unrelated entity
		{%- when LinkStatus::UnknownError %}unknown error

		{%- when LinkStatus::DnsError %}DNS error
		{%- when LinkStatus::DnsDomainNotFound %}DNS error: domain name not found
		{%- when LinkStatus::DnsNoAddressRecord %}DNS error: no address record
		{%- when LinkStatus::DnsRefused %}DNS error: could not contact DNS servers
		{%- when LinkStatus::DnsTimeout %}DNS error: timeout while contacting DNS servers
		{%- when LinkStatus::DnsIpv4MappedInAaaa %}DNS error: IPv4-mapped address in AAAA
		{%- when LinkStatus::NonGlobalIpAddress %}DNS error: domain maps to non-global IP address
		{%- when LinkStatus::InvalidCharactersInHostname %}DNS error: invalid charactars in hostname

		{%- when LinkStatus::ConnectionRefused %}connection refused
		{%- when LinkStatus::HostUnreachable %}no route to host
		{%- when LinkStatus::ConnectionResetByPeer %}connection reset by peer
		{%- when LinkStatus::NetworkUnreachable %}network is unreachable
		{%- when LinkStatus::ServerDisconnected %}server disconnected
		{%- when LinkStatus::ConnectionAborted %}connection aborted
		{%- when LinkStatus::AddressNotAvailable %}address not available

		{%- when LinkStatus::TooManyRedirects %}too many redirects (possibly, a redirect loop)
		{%- when LinkStatus::BadHttp %}HTTP protocol error

		{%- when LinkStatus::SslError %}SSL error
		{%- when LinkStatus::SslCertificateHasExpired %}SSL error: certificate has expired
		{%- when LinkStatus::SslCertificateHostnameMismatch %}SSL error: certificate issued for different hostname
		{%- when LinkStatus::SslCertificateSelfSigned %}SSL error: self signed certificate
		{%- when LinkStatus::SslCertificateSelfSignedInChain %}SSL error: self signed certificate in certificate chain
		{%- when LinkStatus::SslCertificateIncompleteChain %}SSL error: incomplete certificate chain
		{%- when LinkStatus::SslHandshakeFailure %}SSL handshake failure
		{%- when LinkStatus::CertificateUnknownIssuer %}SSL error: invalid certificate: unknown issuer
	{%- endmatch -%}
{%- endmacro -%}

{%- macro format_link_suggestions(status, url) -%}
	{%- if status.is_connection_error() || status == LinkStatus::Timeout || status == LinkStatus::DnsRefused || status == LinkStatus::DnsTimeout -%}
		(check on <a href="https://www.uptrends.com/tools/uptime" rel="nofollow">uptrends</a>, <a href="https://www.site24x7.com/check-website-availability.html" rel="nofollow">site24x7</a>, <a href="https://check-host.net/check-ping" rel="nofollow">check-host.net</a>; note that there can be geo-based blocks not visible on some of these checkers)
	{%- endif -%}
	{%- if status == LinkStatus::DnsIpv4MappedInAaaa -%}
		(<a href="https://bb6-ie.blogspot.com/2017/04/do-not-put-ipv4-mapped-ipv6-addresses.html" rel="nofollow">related reading</a>)
	{%- endif -%}
	{%- if status.is_ssl_error() -%}
		{%- if let Some(domain) = crate::template_funcs::extract_domain_for_ssltest(url) -%}
			(<a href="https://www.ssllabs.com/ssltest/analyze.html?d={{ domain }}" rel="nofollow">check on SSL Labs</a>)
		{%- endif -%}
	{%- endif -%}
{%- endmacro -%}

{%- macro format_link_type(link_type) -%}
	{%- if link_type == repology_common::LinkType::UpstreamHomepage %}Upstream homepage
	{%- else if link_type == repology_common::LinkType::UpstreamDownload %}Upstream download
	{%- else if link_type == repology_common::LinkType::UpstreamRepository %}Upstream repository
	{%- else if link_type == repology_common::LinkType::UpstreamIssueTracker %}Upstream issue tracker
	{%- else if link_type == repology_common::LinkType::ProjectHomepage %}Project page
	{%- else if link_type == repology_common::LinkType::PackageHomepage %}Package page
	{%- else if link_type == repology_common::LinkType::PackageDownload %}Package download
	{%- else if link_type == repology_common::LinkType::PackageSources %}Package sources
	{%- else if link_type == repology_common::LinkType::PackageIssueTracker %}Package issue tracker
	{%- else if link_type == repology_common::LinkType::PackageRecipe %}Package recipe
	{%- else if link_type == repology_common::LinkType::PackageRecipeRaw %}Package recipe (raw)
	{%- else if link_type == repology_common::LinkType::PackagePatch %}Patch
	{%- else if link_type == repology_common::LinkType::PackagePatchRaw %}Patch (raw)
	{%- else if link_type == repology_common::LinkType::PackageBuildLog %}Build log
	{%- else if link_type == repology_common::LinkType::PackageBuildLogRaw %}Build log (raw)
	{%- else if link_type == repology_common::LinkType::PackageNewVersionChecker %}New version checker page
	{%- else if link_type == repology_common::LinkType::UpstreamDocumentation %}Documentation
	{%- else if link_type == repology_common::LinkType::UpstreamChangelog %}Changelog
	{%- else if link_type == repology_common::LinkType::ProjectDownload %}Project download
	{%- else if link_type == repology_common::LinkType::UpstreamDonation %}Donation
	{%- else if link_type == repology_common::LinkType::UpstreamDiscussion %}Discussion
	{%- else if link_type == repology_common::LinkType::UpstreamCoverage %}Coverage
	{%- else if link_type == repology_common::LinkType::UpstreamCi %}CI
	{%- else if link_type == repology_common::LinkType::UpstreamWiki %}Wiki
	{%- else if link_type == repology_common::LinkType::PackageStatistics %}Package statistics
	{%- else if link_type == repology_common::LinkType::PackageBuildStatus %}Package build status
	{%- else if link_type == repology_common::LinkType::PackageBuildLogs %}Package build logs
	{%- else if link_type == repology_common::LinkType::UpstreamDownloadPage %}Upstream download page
	{%- else %}Other{% endif -%}
{%- endmacro -%}

{%- macro repository_link(repository_name) -%}
	{%- if repositories_data.is_repository_active(repository_name) -%}
		<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository_name)])? }}">{{ repositories_data.repository_title(repository_name) }}</a>
	{%- else -%}
		<span class="legacy-repository">{{ repositories_data.repository_title(repository_name) }}</span>
	{%- endif -%}
{%- endmacro -%}
