{# note that local times are always UTC #}

{%- macro format_absolute_time(datetime) -%}
	<time class="tzfix_time"
				datetime="{{ datetime.format("%Y-%m-%dT%H:%M%z") }}">{{ datetime.format("%Y-%m-%d %H:%M") }}</time>
{%- endmacro -%}

{%- macro format_absolute_time_sec(datetime) -%}
	<time class="tzfix_time_sec"
				datetime="{{ datetime.format("%Y-%m-%dT%H:%M:%S%z") }}">{{ datetime.format("%Y-%m-%d %H:%M:%S") }}</time>
{%- endmacro -%}

{%- macro format_time_interval(timedelta) -%}
	{%- let seconds = timedelta.num_seconds() -%}
	{%- if seconds <= 1 -%}
		a second
	{%- else if seconds < 60 -%}
		{{ seconds }} seconds
	{%- else if seconds / 60 == 1 -%}
		a minute
	{%- else if seconds < 60 * 60 -%}
		{{ seconds / 60 }} minutes
	{%- else if seconds / (60 * 60) == 1 -%}
		an hour
	{%- else if seconds < 60 * 60 * 24 -%}
		{{ seconds / (60 * 60) }} hours
	{%- else if seconds / (60 * 60 * 24) == 1 -%}
		a day
	{%- else if seconds / (60 * 60 * 24) < 60 -%}
		{{ seconds / (60 * 60 * 24) }} days
	{%- else if seconds / (60 * 60 * 24) < 365 -%}
		{{ seconds / (60 * 60 * 24 * 30) }} months
	{%- else if seconds / (60 * 60 * 24 * 365) == 1 -%}
		more than a year
	{%- else -%}
		{{ seconds / (60 * 60 * 24 * 365) }} years
	{%- endif -%}
{%- endmacro -%}

{%- macro format_time_interval_short(timedelta) -%}
	{%- let seconds = timedelta.num_seconds() -%}
	{%- if seconds < 60 -%}
		{{ seconds }}s
	{%- else if seconds < 60 * 60 -%}
		{{ seconds / 60 }}m
	{%- else if seconds < 60 * 60 * 24 -%}
		{{ seconds / (60 * 60) }}h
	{%- else if seconds / (60 * 60 * 24) < 365 -%}
		{{ seconds / (60 * 60 * 24) }}d
	{%- else -%}
		{{ seconds / (60 * 60 * 24 * 365) }}y
	{%- endif -%}
{%- endmacro -%}

{%- macro timezone_abbr(datetime) -%}
	<span class="tzfix_zone"> (UTC)</span>
{%- endmacro -%}
