{% extends "_base.html" %}
{% import "_macros/time.html" as time %}

{% block title %}Maintainers list - Repology{% endblock %}
{% block header %}Maintainers{% endblock %}
{% block description %}Package maintainers listing{% endblock %}
{% block keywords %}{% call super() %}, maintainer, maintainers{% endblock %}

{% block content %}
<div class="container">
<nav>
	<div class="form-group">
		<form class="form-inline" action="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainers, [])? }}" method="GET">
			<div class="btn-group">
			{% if query.search.is_empty() %}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainers, [])? }}" class="btn btn-default">&laquo;&laquo;</a>
				{% if let (Some(first_maintainer), Some(last_maintainer)) = (maintainers.first(), maintainers.last()) %}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::MaintainersBounded, [("bound", ("..".to_string() + first_maintainer.name.as_str()).as_str())])? }}" class="btn btn-default" rel="prev">&laquo;</a>
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::MaintainersBounded, [("bound", last_maintainer.name.as_str())])? }}" class="btn btn-default" rel="next">&raquo;</a>
				{% endif %}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::MaintainersBounded, [("bound", "..\u{10FFFF}")])? }}" class="btn btn-default">&raquo;&raquo;</a>
			{% else %}
				{% if let Some(first_maintainer) = maintainers.first() %}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::MaintainersBounded, [("bound", first_maintainer.name.as_str())])? }}" class="btn btn-default">Clear</a>
				{% else %}
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainers, [])? }}" class="btn btn-default">Clear</a>
				{% endif %}
			{% endif %}
			</div>
			<div class="input-group">
				<input class="form-control" type="text" name="search" value="{{ query.search }}" placeholder="Search maintainers">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default">Go</button>
				</div>
			</div>
		</form>
	</div>
</nav>
{% if !maintainers.is_empty() %}
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th class="text-right" rowspan="2">Maintainer</th>
			<th class="text-center" rowspan="2">Most active in</th>
			<th class="text-center" colspan="6">Projects in "most active" repo</th>
			<th class="text-center" rowspan="2">Projects in<br>all repos</th>
			<th class="text-center" rowspan="2">Known for</th>
		</tr>
		<tr>
			<th class="text-center">Total</th>
			<th class="text-center" colspan="2">Newest</th>
			<th class="text-center" colspan="2">Outdated</th>
			<th class="text-center">Problematic</th>
		</tr>
	</thead>
	<tbody>
	{% for maintainer in maintainers %}
		<tr>
			<td class="text-right break-word">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainer, [("maintainer_name", maintainer.name.as_str())])? }}">
					{{- maintainer.name -}}
				</a>
			</td>
			<td class="text-center">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", maintainer.best_repository_name.as_str())])? }}">
					{{- repositories_data.repository_title(maintainer.best_repository_name) -}}
				</a>
				{%- if maintainer.num_repositories > 1 -%}
					<sup>+{{ maintainer.num_repositories - 1 }}</sup>
				{%- endif %}
			</td>
			<td class="text-center total-cell">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("maintainer", maintainer.name.as_str()), ("inrepo", maintainer.best_repository_name.as_str())])? }}">
					{{- maintainer.best_repository_counters.num_projects -}}
				</a>
			</td>
			{%- if maintainer.best_repository_counters.num_projects_newest > 0 -%}
			<td class="text-center version-cell version-big version-newest">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("maintainer", maintainer.name.as_str()), ("inrepo", maintainer.best_repository_name.as_str()), ("newest", "1")])? }}">
					{{- maintainer.best_repository_counters.num_projects_newest -}}
				</a>
			</td>
			<td class="text-center version-cell version-big version-newest">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("maintainer", maintainer.name.as_str()), ("inrepo", maintainer.best_repository_name.as_str()), ("newest", "1")])? }}">
					{{- ctx.format_percent(maintainer.best_repository_counters.num_projects_newest, maintainer.best_repository_counters.num_projects) -}}
				</a>
			</td>
			{%- else -%}
			<td class="text-center" colspan="2">-</td>
			{%- endif -%}
			{%- if maintainer.best_repository_counters.num_projects_outdated > 0 -%}
			<td class="text-center version-cell version-big version-outdated">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("maintainer", maintainer.name.as_str()), ("inrepo", maintainer.best_repository_name.as_str()), ("outdated", "1")])? }}">
					{{- maintainer.best_repository_counters.num_projects_outdated -}}
				</a>
			</td>
			<td class="text-center version-cell version-big version-outdated">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("maintainer", maintainer.name.as_str()), ("inrepo", maintainer.best_repository_name.as_str()), ("outdated", "1")])? }}">
					{{- ctx.format_percent(maintainer.best_repository_counters.num_projects_outdated, maintainer.best_repository_counters.num_projects) -}}
				</a>
			</td>
			{%- else -%}
			<td class="text-center" colspan="2">-</td>
			{%- endif -%}
			{%- if maintainer.best_repository_counters.num_projects_problematic > 0 -%}
			<td class="text-center version-cell version-big version-ignored">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("maintainer", maintainer.name.as_str()), ("inrepo", maintainer.best_repository_name.as_str()), ("problematic", "1")])? }}">
					{{- maintainer.best_repository_counters.num_projects_problematic -}}
				</a>
			</td>
			{%- else -%}
			<td class="text-center">-</td>
			{%- endif -%}
			<td class="text-center total-cell">
				<a href="{{ ctx.url_for(crate::endpoints::Endpoint::Projects, [("maintainer", maintainer.name.as_str())])? }}">
					{{- maintainer.num_projects -}}
				</a>
			</td>
			<td class="text-center">
				{%- call time::format_time_interval(Utc::now() - maintainer.first_seen) -%}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">
	<p>No maintainers found matching the criteria. Some of the reasons which may have caused this:</p>
	<ul>
		<li>The maintainer you are looking for no longer maintains any packages.</li>
		<li>The maintainer you are looking for obfuscates his email in package metadata, so repology cannot parse it.</li>
		<li>Repology does not support or no longer supports any repositories the maintainer you are looking for is active in. Check <a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesStatistics, [])? }}">the list</a> of supported repositories.</li>
		<li>The maintainer identifier (email) is misspelled, or have changed.{% if let Some((user, domain)) = query.search.split_once("@") %} It is quite common for only domain part to change, so try <a href="{{ ctx.url_for_self([("search", user)])? }}">searching</a> without domain name.{% endif %}</li>
		<li>Repology is unable or no longer able to parse maintainer information for repositories this maintainer is active in. Check <a href="{{ ctx.url_for(crate::endpoints::Endpoint::RepositoriesFields, [])? }}">repository support table</a>. This can be fixed if repositories in question setup a more complete dump of information on their packages.</li>
	</ul>
</div>
{% endif %}
</div>
{% endblock %}
