{% extends "../../_base.html" %}

{% block extrameta %}
	<meta http-equiv="robots" content="noindex">
{% endblock %}

{% block title %}Cannot find project - Repology{% endblock %}
{% block header %}Cannot find project{% endblock %}

{% block content %}
<div class="container">
<div class="alert alert-danger" role="alert">
	<p>This link was supposed to redirect you to Repology project corresponding to
	{% if let Some(name_type) = query.name_type %}
		{% if name_type == "srcname" %}source{% else if name_type == "binname" %}binary{% endif %}
	{% endif %}

	{% if let Some(name) = query.name %}
	package name <code>{{ name }}</code>
	{% endif %}

	{% if let Some(repo) = query.repo %}
	in repository identified as <code>{{ repo }}</code>,
	{% endif %}

	but it has failed
	{% if reason == FailureReason::RepositoryNotSpecified %}
	because the repository (<code>repo</code> parameter) was not specified.
	{% else if reason == FailureReason::RepositoryNotFound %}
	because the specified repository is not known to Repology. Either the identifier is misspelled, or the repository was removed from Repology.
	{% else if reason == FailureReason::BadNameType && query.name_type.is_none() %}
	because name type (<code>name_type</code>) parameter was not specified.
	{% else if reason == FailureReason::BadNameType %}
	because name type <code>{{ query.name_type.as_ref().unwrap() }}</code> is invalid (valid name types are <code>srcname</code> and <code>binname</code>).
	{% else if reason == FailureReason::BadTargetPage && query.target_page.is_none() %}
	because target page (<code>target_page</code> parameter) was not specified.
	{% else if reason == FailureReason::BadTargetPage %}
	because specified target page <code>{{ query.target_page.as_ref().unwrap() }}</code> is invalid. See {{ ctx.url_for(crate::endpoints::Endpoint::ToolProjectBy, [])? }} for valid target pages.
	{% else if reason == FailureReason::NotFound %}
	because the specified package name was not found.
	{% endif %}
	</p>
	<p>You may want to report to the site you came from that their link need correction.</p>
</div>
</div>
{% endblock %}
