{% extends "_base.html" %}
{% import "_macros/autorefresh.html" as autorefresh %}
{% import "_macros/time.html" as time %}

{% block extrameta %}
{% call autorefresh::enable_autorefresh(3600) %}
	<link rel="alternate" href="{{ ctx.url_for(crate::endpoints::Endpoint::MaintainerRepoFeedAtom, [("maintainer_name", maintainer_name), ("repository_name", repository_name)])? }}" type="application/atom+xml" />
{% endblock %}

{% block title %}Feed for {{ maintainer_name }} in {{ repository_data.title }} - Repology{% endblock %}
{% block header %}Feed for <strong><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainer, [("maintainer_name", maintainer_name)])? }}">{{ maintainer_name }}</a></strong>
in <strong><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository_name)])? }}">{{ repository_data.title }}</a></strong>
{% endblock %}
{% block description %}Feed for maintainer {{ maintainer_name }} in repository {{ repository_data.title }}{% endblock %}

{% block content %}
<div class="container">

<p>This feed is also available in <a href="{{ ctx.url_for(crate::endpoints::Endpoint::MaintainerRepoFeedAtom, [("maintainer_name", maintainer_name), ("repository_name", repository_name)])? }}">atom<img src="{{ ctx.url_for_static("feed.v1.svg")? }}" width="16" height="16" alt="Atom feed"></a> format</p>

{% call autorefresh::autorefresh_toggler() %}

{% if !events.is_empty() %}
<table class="table table-striped">
	<tr>
		<th class="text-center">Date{% call time::timezone_abbr() %}</th>
		<th class="text-center">Event</th>
	</tr>
	{% for event in events %}
	<tr>
		<td class="minimal-column">{% call time::format_absolute_time(event.timestamp) %}</td>
		<td>
			<a href="{{ ctx.url_for(crate::endpoints::Endpoint::ProjectVersions, [("project_name", event.project_name.as_str())])? }}">{{ event.project_name }}</a>
			{% if event.event_type == "added" %}
			was added to <strong><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository_name)])? }}">{{ repository_data.title }}</a></strong>
			and/or assigned to <strong><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainer, [("maintainer_name", maintainer_name)])? }}">{{ maintainer_name }}</a></strong>
			{% else if event.event_type == "removed" %}
			is no longer maintained by <strong><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Maintainer, [("maintainer_name", maintainer_name)])? }}">{{ maintainer_name }}</a></strong>
			and/or was removed from <strong><a href="{{ ctx.url_for(crate::endpoints::Endpoint::Repository, [("repository_name", repository_name)])? }}">{{ repository_data.title }}</a></strong>
			{% else if event.event_type == "uptodate" %}
			<span class="version version-newest">{{ event.data.get("version").ok_or("version is missing")?.as_str().ok_or("version is not a string")? }}</span> is now up to date
			{% else if event.event_type == "outdated" %}
			<span class="version version-outdated">{{ event.data.get("version").ok_or("version is missing")?.as_str().ok_or("version is not a string")? }}</span> is outdated
			{% if let Some(newest_versions) = event.data.get("newest_versions") %}by
				{% for version in newest_versions.as_array().ok_or("newest_versions are not an array")? %}
				<span class="version version-newest">{{ version.as_str().ok_or("version is not a string")? }}</span>
				{% endfor %}
			{% endif %}
			{% else if event.event_type == "ignored" %}
			<span class="version version-ignored">{{ event.data.get("version").ok_or("version is missing")?.as_str().ok_or("version is not a string")? }}</span> is ignored
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<div class="alert alert-warning" role="alert">No events in this feed yet</div>
{% endif %}

</div>
{% endblock %}
