name: CI
on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 1"
jobs:
  test:
    env:
      POSTGRESQL: 16
    runs-on: ubuntu-latest
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2026-02-15
          components: rustfmt,llvm-tools-preview,clippy
      - uses: taiki-e/install-action@cargo-hack
      - name: Install dependencies
        run: |
          curl -s https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main $POSTGRESQL" > /etc/apt/sources.list.d/pgdg.list'
          sudo apt-get update
          sudo apt-get install postgresql-$POSTGRESQL postgresql-server-dev-$POSTGRESQL
          pip install aiohttp dataclasses-json  # for python http-client of linkchecker, remove after completing rewrite to rust
      - name: Prepare postgresql
        run: |
          sudo sh -c "echo 'host all all samehost trust' > /etc/postgresql/$POSTGRESQL/main/pg_hba.conf"
          sudo pg_ctlcluster $POSTGRESQL main restart
      - name: Save rust version for proper cache setup
        run: rustc -V > .rustc.version
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: cargo-
      - uses: actions/cache@v5
        with:
          path: |
            target/
          key: ${{ runner.os }}-target-${{ hashFiles('.rustc.version') }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-target-${{ hashFiles('.rustc.version') }}-
      - name: Format check
        run: cargo fmt --check
      - name: Clippy check
        run: cargo clippy --all-targets
      - name: Build
        run: |
          cargo build
          cargo hack --workspace build
      - name: Test
        run: cargo test
        env:
          DATABASE_URL: postgres://postgres@localhost:5432/
