{% extends "_base.html" %}
{% import "_macros/time.html" as time %}
{% import "_macros/autorefresh.html" as autorefresh %}

{% block extrameta %}
{{ autorefresh::enable_autorefresh(600) }}
{% endblock %}

{% block title %}Trending projects - Repology{% endblock %}
{% block header %}Trending projects{% endblock %}

{% macro trending_table(projects) -%}
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text-center">Change</th>
					<th>Project</th>
					<th>Last change ago</th>
				</tr>
			</thead>
			<tbody>
			{%- for project in projects %}
				<tr>
					<td class="text-center text-nowrap minimal-column">
					{%- if project.delta > 0 -%}
						<b class="delta-positive">▲</b><b>{{ project.delta.abs() }}</b>
					{%- else if project.delta < 0 -%}
						<b class="delta-negative">▼</b><b>{{ project.delta.abs() }}</b>
					{%- endif -%}
					</td>
					<td>{#--#}
						<a href="{{ crate::endpoints::Endpoint::ProjectVersions.url_for().path_param("project_name", project.project_name)?.build()? }}">{{ project.project_name }}</a>
					{%- if project.has_related -%}
						<a href="{{ crate::endpoints::Endpoint::ProjectRelated.url_for().path_param("project_name", project.project_name)?.build()? }}">∗</a>
					{%- endif -%}
					</td>
					<td>
						{{- time::format_time_interval(Utc::now() - project.last_change_timestamp) -}}
					</td>
				</tr>
			{%- endfor %}
			</tbody>
		</table>
{%- endmacro %}

{% block content %}
<div class="container">

{{ autorefresh::autorefresh_toggler() }}

<div class="row">
	<div class="col-md-6">
		<h3>Trending past month</h3>
		{{ trending_table(trending_projects) }}
	</div>
	<div class="col-md-6">
		<h3>Declining past 3 months</h3>
		{{ trending_table(declining_projects) }}
	</div>
</div>

</div>
{% endblock %}
